openapi: 3.1.0
info:
  title: API Endpoints subpackage_activities subpackage_unsubscribedEmails API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
tags:
- name: subpackage_unsubscribedEmails
paths:
  /unsubscribe/email/:
    get:
      operationId: list
      summary: List all unsubscribed emails
      description: Get a list of unsubscribed email addresses.
      tags:
      - subpackage_unsubscribedEmails
      parameters:
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unsubscribed_emails_list_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
    post:
      operationId: create
      summary: Unsubscribe an email address
      description: This is useful for when you have an email address that has unsubscribed in another context (like a mailing list) and you want to unsubscribe them from messages from Close as well.
      tags:
      - subpackage_unsubscribedEmails
      parameters:
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unsubscribed_emails_create_Response_201'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUnsubscribedEmail'
  /unsubscribe/email/{email_address}/:
    delete:
      operationId: delete
      summary: Resubscribe an email address
      tags:
      - subpackage_unsubscribedEmails
      parameters:
      - name: email_address
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unsubscribed_emails_delete_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
components:
  schemas:
    unsubscribed_emails_delete_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: unsubscribed_emails_delete_Response_200
    unsubscribed_emails_create_Response_201:
      type: object
      properties: {}
      description: Empty response body
      title: unsubscribed_emails_create_Response_201
    CreateUnsubscribedEmail:
      type: object
      properties:
        email:
          type: string
          format: email
      required:
      - email
      title: CreateUnsubscribedEmail
    unsubscribed_emails_list_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: unsubscribed_emails_list_Response_200
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: basic
      description: Use your API key as the username and leave the password empty.
    OAuth2:
      type: http
      scheme: bearer
