openapi: 3.1.0
info:
  title: API Endpoints subpackage_activities subpackage_emailTemplates API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
tags:
- name: subpackage_emailTemplates
paths:
  /email_template/:
    get:
      operationId: list
      summary: List email templates
      tags:
      - subpackage_emailTemplates
      parameters:
      - name: _limit
        in: query
        description: Number of results to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: _skip
        in: query
        description: Number of results to skip before returning, for pagination.
        required: false
        schema:
          type: integer
          default: 0
      - name: is_archived
        in: query
        required: false
        schema:
          type: boolean
      - name: is_shared
        in: query
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email_templates_list_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
    post:
      operationId: create
      summary: Create an email template
      tags:
      - subpackage_emailTemplates
      parameters:
      - name: _fields
        in: query
        description: Comma-separated list of fields to include in the response.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email_templates_create_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              description: Any type
  /email_template/{id}/:
    get:
      operationId: get
      summary: Fetch an email template
      tags:
      - subpackage_emailTemplates
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _fields
        in: query
        description: Comma-separated list of fields to include in the response.
        required: false
        schema:
          type: string
      - name: include_embedded
        in: query
        description: Include embedded templates used by Workflows.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email_templates_get_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
    put:
      operationId: update
      summary: Update an email template
      tags:
      - subpackage_emailTemplates
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _fields
        in: query
        description: Comma-separated list of fields to include in the response.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email_templates_update_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              description: Any type
    delete:
      operationId: delete
      summary: Delete an email template
      tags:
      - subpackage_emailTemplates
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email_templates_delete_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
  /email_template/{id}/render/:
    get:
      operationId: render
      summary: Render an email template
      description: "Render an email template for the given lead/contact using the current user context.\n\nAccepts two forms of usage:\n\n- Single lead/contact:\n  - `lead_id` and `contact_id` is supplied (both required)\n- Preview results from a search query\n  - `query` (required) contains a search query\n  - `entry` (optional, ranges from 0 to 99) specifies the index of the lead/contact that should be rendered.\n  - `mode` (optional), which can have a value of:\n     - `lead` (default), the first contact of the lead with the index given by `entry` will be rendered (excluding leads that have no email addresses).\n     - `contact`, then `entry` refers to the index of the contact (excluding contacts that have no emails). Will return an empty dict if there are no more entries."
      tags:
      - subpackage_emailTemplates
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: email_account_id
        in: query
        required: false
        schema:
          type: string
      - name: bulk_object_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/EmailTemplateIdRenderGetParametersBulkObjectType'
      - name: contact_id
        in: query
        required: false
        schema:
          type: string
      - name: contact_preference
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/EmailTemplateIdRenderGetParametersContactPreference'
      - name: entry
        in: query
        required: false
        schema:
          type: integer
      - name: lead_id
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: results_limit
        in: query
        required: false
        schema:
          type: integer
      - name: s_query
        in: query
        required: false
        schema:
          type: string
      - name: sender
        in: query
        required: false
        schema:
          type: string
          format: email
      - name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/EmailTemplateIdRenderGetParametersSortSchemaItems'
      - name: mode
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/EmailTemplateIdRenderGetParametersMode'
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email_templates_render_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
components:
  schemas:
    EmailTemplateIdRenderGetParametersContactPreference:
      type: string
      enum:
      - lead
      - contact
      - all
      title: EmailTemplateIdRenderGetParametersContactPreference
    EmailTemplateIdRenderGetParametersSortSchemaItemsDirection:
      type: string
      enum:
      - asc
      - desc
      title: EmailTemplateIdRenderGetParametersSortSchemaItemsDirection
    email_templates_create_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: email_templates_create_Response_200
    email_templates_update_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: email_templates_update_Response_200
    EmailTemplateIdRenderGetParametersMode:
      type: string
      enum:
      - lead
      - contact
      title: EmailTemplateIdRenderGetParametersMode
    EmailTemplateIdRenderGetParametersSortSchemaItems:
      type: object
      properties:
        direction:
          $ref: '#/components/schemas/EmailTemplateIdRenderGetParametersSortSchemaItemsDirection'
        field:
          type: string
      required:
      - direction
      - field
      title: EmailTemplateIdRenderGetParametersSortSchemaItems
    email_templates_list_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: email_templates_list_Response_200
    email_templates_render_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: email_templates_render_Response_200
    email_templates_delete_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: email_templates_delete_Response_200
    EmailTemplateIdRenderGetParametersBulkObjectType:
      type: string
      enum:
      - lead
      - contact
      title: EmailTemplateIdRenderGetParametersBulkObjectType
    email_templates_get_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: email_templates_get_Response_200
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: basic
      description: Use your API key as the username and leave the password empty.
    OAuth2:
      type: http
      scheme: bearer
