openapi: 3.2.0
info:
  description: Close CRM REST API
  title: Close Exports API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: exports
  externalDocs:
    url: https://developer.close.com/api/resources/exports
paths:
  /export/:
    get:
      operationId: exports_list
      tags:
      - exports
      summary: List all the exports
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2014-04-02T15:00:05.190000+00:00'
                  date_format: iso8601
                  date_updated: '2014-04-02T23:36:30.719000+00:00'
                  download_url: https://url-to-generated-leads.csv
                  fields:
                  - addresses
                  - contacts
                  - created_by
                  - created_by_name
                  - custom
                  - date_created
                  - date_updated
                  - description
                  - display_name
                  - id
                  - name
                  - status_id
                  - status_label
                  - updated_by
                  - updated_by_name
                  - url
                  format: csv
                  id: expo_yasd512lkhIhxrvLG8iVupzjoJVRPgrGhJ0A0b3bae
                  n_docs: 100000
                  n_docs_processed: 100000
                  organization_id: orga_klasjd123vxiEY58eTGQmFNG3LPlEVQ4V7Nk
                  results_limit: null
                  s_query:
                    queries:
                    - object_type: lead
                      type: object_type
                    - condition:
                        mode: full_words
                        type: text
                        value: ACME Inc.
                      field:
                        field_name: name
                        object_type: lead
                        type: regular_field
                      type: field_condition
                    type: and
                  send_done_email: false
                  sort: []
                  status: done
                  type: leads
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                - created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2014-04-02T15:32:54.774000+00:00'
                  date_updated: '2014-04-02T23:35:59.704000+00:00'
                  download_url: https://url-to-generated-contacts.json
                  fields:
                  - created_by
                  - date_created
                  - date_updated
                  - emails
                  - id
                  - name
                  - phones
                  - title
                  - updated_by
                  - urls
                  format: json
                  id: expo_9lHXk6sbASDKFJNZ59arhUCdS2CqNm9OTv6yb
                  n_docs: 100000
                  n_docs_processed: 100000
                  organization_id: orga_klasjd123vxiEY58eTGQmFNG3LPlEVQ4V7Nk
                  results_limit: null
                  s_query:
                    queries:
                    - object_type: lead
                      type: object_type
                    - condition:
                        mode: full_words
                        type: text
                        value: ACME Inc.
                      field:
                        field_name: name
                        object_type: lead
                        type: regular_field
                      type: field_condition
                    type: and
                  send_done_email: false
                  sort: []
                  status: done
                  type: contacts
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                - created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2014-04-02T15:32:54.774000+00:00'
                  date_format: iso8601
                  date_updated: '2014-04-02T23:35:59.704000+00:00'
                  download_url: null
                  fields:
                  - created_by
                  - date_created
                  - date_updated
                  - emails
                  - id
                  - name
                  - phones
                  - title
                  - updated_by
                  - urls
                  format: csv
                  id: expo_9lHXk6sbznxcuQOEASDF59arhUCdS2CqNm9OTv6yb
                  n_docs: 100000
                  n_docs_processed: 5000
                  organization_id: orga_klasjd123vxiEY58eTGQmFNG3LPlEVQ4V7Nk
                  results_limit: null
                  s_query:
                    queries:
                    - object_type: lead
                      type: object_type
                    - condition:
                        mode: full_words
                        type: text
                        value: ACME Inc.
                      field:
                        field_name: name
                        object_type: lead
                        type: regular_field
                      type: field_condition
                    type: and
                  send_done_email: false
                  sort: []
                  status: in_progress
                  type: lead_opps
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                - created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2014-04-01T16:50:22.256000+00:00'
                  date_format: iso8601
                  date_updated: '2014-04-02T00:55:34.967000+00:00'
                  download_url: https://url-to-generated-opps.csv
                  fields:
                  - confidence
                  - contact_id
                  - created_by
                  - created_by_name
                  - date_created
                  - date_updated
                  - date_won
                  - id
                  - lead_id
                  - lead_name
                  - note
                  - status_id
                  - status_label
                  - status_type
                  - updated_by
                  - updated_by_name
                  - user_id
                  - user_name
                  - value
                  - value_period
                  format: csv
                  id: expo_ASFasdfasdAY8VZhRiSn5UG2wNGRUrRurHdaN7kQp6
                  n_docs: 100000
                  n_docs_processed: 100000
                  organization_id: orga_klasjd123vxiEY58eTGQmFNG3LPlEVQ4V7Nk
                  params:
                    organization_id: orga_klasjd123vxiEY58eTGQmFNG3LPlEVQ4V7Nk
                    status_id: stat_laksdjfxOOHx2JnhqtovutN3zeuARGfzB21x5t1W88G
                  send_done_email: false
                  status: done
                  type: opps
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                has_more: false
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /export/lead/:
    get:
      operationId: exports_list_lead
      tags:
      - exports
      summary: List Lead Exports
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2014-04-02T15:00:05.190000+00:00'
                  date_format: iso8601
                  date_updated: '2014-04-02T23:36:30.719000+00:00'
                  download_url: https://close-exports.s3.amazonaws.com/expo_yasd512lkhIhxrvLG8iVupzjoJVRPgrGhJ0A0b3bae.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=60&X-Amz-Signature=EXAMPLE
                  fields:
                  - addresses
                  - contacts
                  - created_by
                  - created_by_name
                  - custom
                  - date_created
                  - date_updated
                  - description
                  - display_name
                  - id
                  - name
                  - status_id
                  - status_label
                  - updated_by
                  - updated_by_name
                  - url
                  format: csv
                  id: expo_yasd512lkhIhxrvLG8iVupzjoJVRPgrGhJ0A0b3bae
                  n_docs: 100000
                  n_docs_processed: 100000
                  organization_id: orga_klasjd123vxiEY58eTGQmFNG3LPlEVQ4V7Nk
                  results_limit: null
                  s_query:
                    queries:
                    - object_type: lead
                      type: object_type
                    - condition:
                        mode: full_words
                        type: text
                        value: ACME Inc.
                      field:
                        field_name: name
                        object_type: lead
                        type: regular_field
                      type: field_condition
                    type: and
                  send_done_email: false
                  sort: []
                  status: done
                  type: leads
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                has_more: false
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    post:
      operationId: exports_create_lead
      tags:
      - exports
      summary: Export leads based on a search query
      description: "You will receive a link to the generated file via email once the export is done.\n\nThe exported file is GZIP compressed to make your download and our upload faster. The `content-encoding` HTTP header will be set to `gzip` and the `content-type` HTTP header will be set to `text/csv` for CSV exports or `application/json` for JSON exports.\n\nParameters:\n  - `s_query/results_limit/sort` (optional) - The [Advanced Filtering API](https://developer.close.com/api/resources/advanced-filtering) parameters used to narrow the exported results down. By default, all leads are exported.\n  - `format` - Format of the exported file. The choices are: `csv`, `json`. JSON is recommended for raw backups or data migrations.\n  - `type` - Type of the export.\n    - `leads` - For CSV exports, it results in one row per lead. For JSON exports, this is the recommended type and is a superset of the other two types.\n    - `contacts` - For CSV exports, it results in one row per contact.\n    - `lead_opps` - For CSV exports, it results in one row per opportunity.\n  - `date_format` (optional) - Controls the format of date objects. Note: this only works with the `csv` format.\n    - `original` (default) - A date format that includes microseconds and timezone information.\n        - Date: `[YYYY]-[MM]-[DD]`\n        - Date w/ time: `[YYYY]-[MM]-[DD] [hh]:[mm]:[ss.sssss]±[hh]:[mm]`\n    - `iso8601` (recommended) - An [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) compatible date representation that does not include microseconds.\n        - Date: `[YYYY]-[MM]-[DD]`\n        - Date w/ time: `[YYYY]-[MM]-[DD]T[hh]:[mm]:[ss]±[hh]:[mm]`\n    - `excel` - An Excel compatible date format. Dates are always in UTC, do not include timezone information or microseconds, and use a 12 hour clock with an AM or PM designation.\n        - Date: `[YYYY]-[MM]-[DD]`\n        - Date w/ time: `[YYYY]-[MM]-[DD] [hh]:[mm]:[ss] [AM|PM]`\n  - `fields` (optional) - By default we return all the data fields in each export type. If you only need specific fields exported, you can explicitly list them in `fields` to get smaller exports.\n  - `include_activities` (optional) - Activities aren't included in any exports by default. If you want all your Activities exported as well, pass `\"include_activities\": true`. Note: this only works for `leads` type with `json` format.\n  - `include_smart_fields` (optional) - Smart Fields aren't included in any exports by default. If you want all of them exported as well, pass `\"include_smart_fields\": true`. Note: this only works for `leads` type with `json` format or any type formatted as `csv`. Smart fields are calculated fields, like number of emails on a lead.\n  - `send_done_email` - Set to `false` if you don't want to get a confirmation email after the bulk action is done."
      requestBody:
        content:
          application/json:
            example:
              date_format: iso8601
              format: csv
              results_limit: null
              s_query:
                queries:
                - object_type: lead
                  type: object_type
                - condition:
                    mode: full_words
                    type: text
                    value: ACME Inc.
                  field:
                    field_name: name
                    object_type: lead
                    type: regular_field
                  type: field_condition
                type: and
              send_done_email: false
              sort:
              - direction: desc
                field:
                  field_name: date_created
                  object_type: lead
                  type: regular_field
              type: leads
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                date_created: '2014-04-02T15:00:05.190000+00:00'
                date_format: iso8601
                date_updated: '2014-04-02T23:36:30.719000+00:00'
                download_url: null
                fields:
                - addresses
                - contacts
                - created_by
                - created_by_name
                - custom
                - date_created
                - date_updated
                - description
                - display_name
                - id
                - name
                - status_id
                - status_label
                - updated_by
                - updated_by_name
                - url
                format: csv
                id: expo_yasdalskdjjflkahxrvLG8iVupzjoJVRPgrGhJ0A0b3bae
                n_docs: null
                n_docs_processed: 0
                organization_id: orga_alksdjdfjasdfkljasdlkfjfaklsdjf
                results_limit: null
                s_query:
                  queries:
                  - object_type: lead
                    type: object_type
                  - condition:
                      mode: full_words
                      type: text
                      value: ACME Inc.
                    field:
                      field_name: name
                      object_type: lead
                      type: regular_field
                    type: field_condition
                  type: and
                send_done_email: false
                sort:
                - direction: desc
                  field:
                    field_name: date_created
                    object_type: lead
                    type: regular_field
                status: created
                type: leads
                updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /export/lead/{id}/:
    get:
      operationId: exports_get_lead
      tags:
      - exports
      summary: Get a single Lead Export
      description: 'Get a single lead export to do things like check its `status` or get a `download_url`.


        `status` can have one of these values: `created`, `started`, `in_progress`, `done`, `error`.'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                date_created: '2014-04-02T15:00:05.190000+00:00'
                date_format: iso8601
                date_updated: '2014-04-02T23:36:30.719000+00:00'
                download_url: https://close-exports.s3.amazonaws.com/expo_yasd512lkhIhxrvLG8iVupzjoJVRPgrGhJ0A0b3bae.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=60&X-Amz-Signature=EXAMPLE
                fields:
                - addresses
                - contacts
                - created_by
                - created_by_name
                - custom
                - date_created
                - date_updated
                - description
                - display_name
                - id
                - name
                - status_id
                - status_label
                - updated_by
                - updated_by_name
                - url
                format: csv
                id: expo_yasd512lkhIhxrvLG8iVupzjoJVRPgrGhJ0A0b3bae
                n_docs: 100000
                n_docs_processed: 100000
                organization_id: orga_klasjd123vxiEY58eTGQmFNG3LPlEVQ4V7Nk
                results_limit: null
                s_query:
                  queries:
                  - object_type: lead
                    type: object_type
                  - condition:
                      mode: full_words
                      type: text
                      value: ACME Inc.
                    field:
                      field_name: name
                      object_type: lead
                      type: regular_field
                    type: field_condition
                  type: and
                send_done_email: false
                sort: []
                status: done
                type: leads
                updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /export/opportunity/:
    get:
      operationId: exports_list_opportunity
      tags:
      - exports
      summary: List Opportunity Exports
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2014-04-01T16:50:22.256000+00:00'
                  date_format: iso8601
                  date_updated: '2014-04-02T00:55:34.967000+00:00'
                  download_url: https://close-exports.s3.amazonaws.com/expo_ASFasdfasdAY8VZhRiSn5UG2wNGRUrRurHdaN7kQp6.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=60&X-Amz-Signature=EXAMPLE
                  fields:
                  - confidence
                  - contact_id
                  - created_by
                  - created_by_name
                  - date_created
                  - date_updated
                  - date_won
                  - id
                  - lead_id
                  - lead_name
                  - note
                  - status_id
                  - status_label
                  - status_type
                  - updated_by
                  - updated_by_name
                  - user_id
                  - user_name
                  - value
                  - value_period
                  format: csv
                  id: expo_ASFasdfasdAY8VZhRiSn5UG2wNGRUrRurHdaN7kQp6
                  n_docs: 100000
                  n_docs_processed: 100000
                  organization_id: orga_klasjd123vxiEY58eTGQmFNG3LPlEVQ4V7Nk
                  params:
                    status_id: st_id
                    user_id__in: id_1,id_2
                  send_done_email: false
                  status: done
                  type: opps
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                has_more: false
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    post:
      operationId: exports_create_opportunity
      tags:
      - exports
      summary: Export opportunities, based on opportunity filters
      description: "Parameters:\n  - `params` (optional) - A dictionary of filters, which would be used for the `/opportunity/` endpoint.\n  - `format` - Format of the exported file. The choices are: `csv`, `json`\n  - `date_format` (optional) - Controls the format of date objects. Note: this only works with the `csv` format.\n    - `original` (default) - A date format that includes microseconds and timezone information.\n        - Date: `[YYYY]-[MM]-[DD]`\n        - Date w/ time: `[YYYY]-[MM]-[DD] [hh]:[mm]:[ss.sssss]±[hh]:[mm]`\n    - `iso8601` (recommended) - An [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) compatible date representation that does not include microseconds.\n        - Date: `[YYYY]-[MM]-[DD]`\n        - Date w/ time: `[YYYY]-[MM]-[DD]T[hh]:[mm]:[ss]±[hh]:[mm]`\n    - `excel` - An Excel compatible date format. Dates are always in UTC, do not include timezone information or microseconds, and use a 12 hour clock with an AM or PM designation.\n        - Date: `[YYYY]-[MM]-[DD]`\n        - Date w/ time: `[YYYY]-[MM]-[DD] [hh]:[mm]:[ss] [AM|PM]`\n  - `fields` (optional) - By default we return all the data fields. If you only need specific fields exported, you can explicitly list them in fields to get smaller exports.\n  - `send_done_email` - Set to `false` if you don't want to get a confirmation email after the bulk action is done."
      requestBody:
        content:
          application/json:
            example:
              date_format: iso8601
              format: csv
              params:
                status_id: st_id
                user_id__in: id_1,id_2
              send_done_email: false
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                date_created: '2014-04-01T16:50:22.256000+00:00'
                date_format: iso8601
                date_updated: '2014-04-02T00:55:34.967000+00:00'
                download_url: null
                fields:
                - confidence
                - contact_id
                - created_by
                - created_by_name
                - date_created
                - date_updated
                - date_won
                - id
                - lead_id
                - lead_name
                - note
                - status_id
                - status_label
                - status_type
                - updated_by
                - updated_by_name
                - user_id
                - user_name
                - value
                - value_period
                format: csv
                id: expo_ASFasdfasdAY8VZhRiSn5UG2wNGRUrRurHdaN7kQp6
                n_docs: null
                n_docs_processed: 0
                organization_id: orga_klasjd123vxiEY58eTGQmFNG3LPlEVQ4V7Nk
                params:
                  status_id: st_id
                  user_id__in: id_1,id_2
                send_done_email: false
                status: created
                type: opps
                updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /export/opportunity/{id}/:
    get:
      operationId: exports_get_opportunity
      tags:
      - exports
      summary: Get a single Opportunity Export
      description: 'Get a single opportunity export to do things like check its `status` or get a `download_url`.


        `status` can have one of these values: `created`, `started`, `in_progress`, `done`, `error`.'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                date_created: '2014-04-01T16:50:22.256000+00:00'
                date_format: iso8601
                date_updated: '2014-04-02T00:55:34.967000+00:00'
                download_url: https://close-exports.s3.amazonaws.com/expo_ASFasdfasdAY8VZhRiSn5UG2wNGRUrRurHdaN7kQp6.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=60&X-Amz-Signature=EXAMPLE
                fields:
                - confidence
                - contact_id
                - created_by
                - created_by_name
                - date_created
                - date_updated
                - date_won
                - id
                - lead_id
                - lead_name
                - note
                - status_id
                - status_label
                - status_type
                - updated_by
                - updated_by_name
                - user_id
                - user_name
                - value
                - value_period
                format: csv
                id: expo_ASFasdfasdAY8VZhRiSn5UG2wNGRUrRurHdaN7kQp6
                n_docs: 100000
                n_docs_processed: 100000
                organization_id: orga_klasjd123vxiEY58eTGQmFNG3LPlEVQ4V7Nk
                params:
                  status_id: st_id
                  user_id__in: id_1,id_2
                send_done_email: false
                status: done
                type: opps
                updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /export/{id}/:
    get:
      operationId: exports_get
      tags:
      - exports
      summary: Get a single Export
      description: "You can get a single export to do things like check its `status` or get a `download_url`\n\n - `status` can have one of these values: `created`, `started`, `in_progress`, `done`, `error`."
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                date_created: '2014-04-02T15:32:54.774000+00:00'
                date_format: iso8601
                date_updated: '2014-04-02T23:35:59.704000+00:00'
                download_url: null
                fields:
                - created_by
                - date_created
                - date_updated
                - emails
                - id
                - name
                - phones
                - title
                - updated_by
                - urls
                format: csv
                id: expo_9lHXk6sbznxcuQOEASDF59arhUCdS2CqNm9OTv6yb
                n_docs: 100000
                n_docs_processed: 5000
                organization_id: orga_klasjd123vxiEY58eTGQmFNG3LPlEVQ4V7Nk
                results_limit: null
                s_query:
                  queries:
                  - object_type: lead
                    type: object_type
                  - condition:
                      mode: full_words
                      type: text
                      value: ACME Inc.
                    field:
                      field_name: name
                      object_type: lead
                      type: regular_field
                    type: field_condition
                  type: and
                send_done_email: false
                sort: []
                status: in_progress
                type: lead_opps
                updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
components:
  parameters:
    LimitParam:
      description: Number of results to return.
      in: query
      name: _limit
      required: false
      schema:
        default: 100
        type: integer
    FieldsParam:
      description: Comma-separated list of fields to include in the response.
      in: query
      name: _fields
      required: false
      schema:
        type: string
    SkipParam:
      description: Number of results to skip before returning, for pagination.
      in: query
      name: _skip
      required: false
      schema:
        default: 0
        type: integer
  securitySchemes:
    ApiKeyAuth:
      description: Use your API key as the username and leave the password empty.
      scheme: basic
      type: http
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.close.com/oauth2/authorize/
          scopes:
            all.full_access: Full access to all resources
            offline_access: Request a refresh token
          tokenUrl: https://api.close.com/oauth2/token/
      type: oauth2
