openapi: 3.1.0
info:
  title: API Endpoints subpackage_activities subpackage_connectedAccounts API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
tags:
- name: subpackage_connectedAccounts
paths:
  /connected_account/:
    get:
      operationId: list
      summary: List connected accounts
      description: You can filter down to a specific user by passing the `?user_id` query parameter.
      tags:
      - subpackage_connectedAccounts
      parameters:
      - name: _fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          default:
          - _type
          - available_calendars
          - available_features
          - calendar_receive_status
          - calendly
          - date_created
          - default_identity
          - email
          - email_receive_status
          - enabled_features
          - has_meeting_creation_scopes
          - id
          - identities
          - imap
          - is_imap_archive_sync_enabled
          - latest_receive_error
          - latest_send_error
          - lead_suggestions_updated_at
          - organization_id
          - receive_status
          - send_status
          - smtp
          - sync_all_calendars
          - synced_calendars
          - user_id
          - zoom_account_plan
      - name: user_id
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connected_accounts_list_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
  /connected_account/{id}/:
    get:
      operationId: get
      summary: Fetch a single connected account
      tags:
      - subpackage_connectedAccounts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          default:
          - _type
          - available_calendars
          - available_features
          - calendar_receive_status
          - calendly
          - date_created
          - default_identity
          - email
          - email_receive_status
          - enabled_features
          - has_meeting_creation_scopes
          - id
          - identities
          - imap
          - is_imap_archive_sync_enabled
          - latest_receive_error
          - latest_send_error
          - lead_suggestions_updated_at
          - organization_id
          - receive_status
          - send_status
          - smtp
          - sync_all_calendars
          - synced_calendars
          - user_id
          - zoom_account_plan
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connected_accounts_get_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
components:
  schemas:
    connected_accounts_get_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: connected_accounts_get_Response_200
    connected_accounts_list_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: connected_accounts_list_Response_200
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: basic
      description: Use your API key as the username and leave the password empty.
    OAuth2:
      type: http
      scheme: bearer
