openapi: 3.2.0
info:
  title: Endpoints Subpackage Custom Fields Activity API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
tags:
- name: subpackage_customFieldsActivity
paths:
  /custom_field/activity/:
    get:
      operationId: list
      summary: List Activity Custom Fields
      description: List all the activity custom fields for your organization.
      tags:
      - subpackage_customFieldsActivity
      parameters:
      - name: _limit
        in: query
        description: Number of results to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: _skip
        in: query
        description: Number of results to skip before returning, for pagination.
        required: false
        schema:
          type: integer
          default: 0
      - name: _fields
        in: query
        description: Comma-separated list of fields to include in the response.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom_fields.activity_list_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
    post:
      operationId: create
      summary: Create a new Activity Custom Field
      description: "Activity Custom Fields belong to Custom Activities, and have additional attributes:\n\n- `custom_activity_type_id` – the ID of the Custom Activity Type this Field\n  should belong to.\n- `required` – whether the Field will be required to publish the activity."
      tags:
      - subpackage_customFieldsActivity
      parameters:
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom_fields.activity_create_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              description: Any type
  /custom_field/activity/{id}/:
    get:
      operationId: get
      summary: Fetch Activity Custom Field's details
      tags:
      - subpackage_customFieldsActivity
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _fields
        in: query
        description: Comma-separated list of fields to include in the response.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom_fields.activity_get_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
    put:
      operationId: update
      summary: Update an Activity Custom Field
      description: 'You can rename it, change whether it accepts multiple values or not, change the "required" flag, change whether editing its values is restricted to specific Roles, or update the options for a "choices" field type. The updated name will immediately appear in the Close UI and only valid values for the updated `type` will be returned by the Custom Activity API.


        The `custom_activity_type_id` and `type` values cannot be changed.'
      tags:
      - subpackage_customFieldsActivity
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom_fields.activity_update_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              description: Any type
    delete:
      operationId: delete
      summary: Delete an Activity Custom Field
      description: Delete an activity custom field. The field will immediately disappear from API responses and values on existing activities will be permanently removed.
      tags:
      - subpackage_customFieldsActivity
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom_fields.activity_delete_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
components:
  schemas:
    custom_fields.activity_update_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: custom_fields.activity_update_Response_200
    custom_fields.activity_create_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: custom_fields.activity_create_Response_200
    custom_fields.activity_delete_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: custom_fields.activity_delete_Response_200
    custom_fields.activity_list_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: custom_fields.activity_list_Response_200
    custom_fields.activity_get_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: custom_fields.activity_get_Response_200
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: basic
      description: Use your API key as the username and leave the password empty.
    OAuth2:
      type: http
      scheme: bearer
