openapi: 3.2.0
info:
  title: Endpoints Subpackage Organizations API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
tags:
- name: subpackage_organizations
paths:
  /organization/{id}/:
    get:
      operationId: get
      summary: Get an organization's details
      description: By default, `memberships` and `inactive_memberships` are populated with user data prefixed with `user_`. If you'd rather have a nested `user` field, use a query string like `?_expand=memberships__user,inactive_memberships__user`.
      tags:
      - subpackage_organizations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _expand
        in: query
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizations_get_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
    put:
      operationId: update
      summary: Update an organization
      description: Update an organization's `name`, `currency`, and reorder existing `lead_statuses`.
      tags:
      - subpackage_organizations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _expand
        in: query
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizations_update_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              description: Any type
components:
  schemas:
    organizations_update_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: organizations_update_Response_200
    organizations_get_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: organizations_get_Response_200
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: basic
      description: Use your API key as the username and leave the password empty.
    OAuth2:
      type: http
      scheme: bearer
