openapi: 3.2.0
info:
  description: Close CRM REST API
  title: Close Sequences API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: sequences
  externalDocs:
    url: https://developer.close.com/api/resources/sequences
paths:
  /sequence/:
    get:
      operationId: sequences_list
      tags:
      - sequences
      summary: List Sequences
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2021-11-17T20:07:11.936158'
                  date_updated: '2022-02-07T15:26:01.262234'
                  id: seq_3CtqAl6ynk4FbJmZIlCYAx
                  name: My Sequence
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  schedule: null
                  status: active
                  steps:
                  - created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                    date_created: '2021-11-17T20:07:11.937641'
                    date_updated: '2021-11-17T20:07:11.937643'
                    delay: 86400
                    email_template_id: tmpl_RWEWdJWfSb0eZ6F1QUGEqGULmHGNenS4gSuw29DNkEJ
                    id: seqstep_2NGiNEAVZUSXmkv5dNVtPt
                    required: true
                    step_allowed_delay: null
                    step_type: email
                    threading: old_thread
                    updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  - created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                    date_created: '2021-11-17T20:07:11.938310'
                    date_updated: '2021-11-17T20:07:11.938313'
                    delay: 259200
                    email_template_id: null
                    id: seqstep_7GMV3TG7CdrXPfkmJ568OF
                    required: true
                    step_allowed_delay: null
                    step_type: call
                    threading: null
                    updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  timezone: US/Eastern
                  updated_by_id: user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk
                has_more: false
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    post:
      operationId: sequences_create
      tags:
      - sequences
      summary: Create a Sequence
      requestBody:
        content:
          application/json:
            example:
              name: My Sequence
              schedule:
                ranges:
                - end: '16:59'
                  start: 09:00
                  weekday: 1
                - end: '16:59'
                  start: 09:00
                  weekday: 2
                - end: '16:59'
                  start: 09:00
                  weekday: 3
                - end: '16:59'
                  start: 09:00
                  weekday: 4
                - end: '16:59'
                  start: 09:00
                  weekday: 5
              steps:
              - delay: 0
                required: true
                step_type: call
              - delay: 86400
                email_template_id: tmpl_00jcushDRuoBBS5sSTUAbNt4dPpBUhlJqQafVfzzRJn
                step_type: email
                threading: old_thread
              - delay: 259200
                email_template_id: tmpl_l12k3as9d008324ljeANFTyS239048asdFdsVfnzaln
                threading: old_thread
              timezone: America/Los_Angeles
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                date_created: '2022-03-10T14:21:15.270359'
                date_updated: '2022-03-10T14:21:15.270380'
                id: seq_01FX7LXnJDiYZfWM9cZNkK
                name: My Sequence
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                schedule:
                  ranges:
                  - end: '16:59'
                    start: 09:00
                    weekday: 1
                  - end: '16:59'
                    start: 09:00
                    weekday: 2
                  - end: '16:59'
                    start: 09:00
                    weekday: 3
                  - end: '16:59'
                    start: 09:00
                    weekday: 4
                  - end: '16:59'
                    start: 09:00
                    weekday: 5
                status: active
                steps:
                - created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2022-03-10T14:21:15.276005'
                  date_updated: '2022-03-10T14:21:15.276009'
                  delay: 0
                  email_template_id: null
                  id: seqstep_27RRKBOqqsaDLfv3DC2j4w
                  required: true
                  step_allowed_delay: null
                  step_type: call
                  threading: null
                  updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                - created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2022-03-10T14:21:15.278210'
                  date_updated: '2022-03-10T14:21:15.278213'
                  delay: 86400
                  email_template_id: tmpl_00jcushDRuoBBS5sSTUAbNt4dPpBUhlJqQafVfzzRJn
                  id: seqstep_6MEzpiQOFmXUspWL50qm9G
                  required: true
                  step_allowed_delay: null
                  step_type: email
                  threading: old_thread
                  updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                - created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2022-03-10T14:21:15.278909'
                  date_updated: '2022-03-10T14:21:15.278911'
                  delay: 259200
                  email_template_id: tmpl_l12k3as9d008324ljeANFTyS239048asdFdsVfnzaln
                  id: seqstep_3EhVVniW2ks6w740LMcivm
                  required: true
                  step_allowed_delay: null
                  step_type: email
                  threading: old_thread
                  updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                timezone: America/Los_Angeles
                updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /sequence/{id}/:
    get:
      operationId: sequences_get
      tags:
      - sequences
      summary: Fetch a Sequence
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      responses:
        '200':
          content:
            application/json:
              example:
                created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                date_created: '2022-03-10T14:31:45.512611'
                date_updated: '2022-03-10T14:31:45.512615'
                id: seq_51kUuBR322o1B7vb2HvzSz
                name: My Sequence
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                schedule: null
                status: active
                steps:
                - created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2022-03-10T14:31:45.515197'
                  date_updated: '2022-03-10T14:31:45.515200'
                  delay: 0
                  email_template_id: null
                  id: seqstep_6zDtfEugqTPcFinUzqFiAL
                  required: true
                  step_allowed_delay: null
                  step_type: call
                  threading: null
                  updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                - created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2022-03-10T14:31:45.516521'
                  date_updated: '2022-03-10T14:31:45.516524'
                  delay: 86400
                  email_template_id: tmpl_VRIpo4I8JnTGANQsPv77kZvzAhbxbheWYPIRR3hKusu
                  id: seqstep_0yMcp2AXxJh27sWsNpH0f1
                  required: true
                  step_allowed_delay: null
                  step_type: email
                  threading: old_thread
                  updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                - created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2022-03-10T14:31:45.517156'
                  date_updated: '2022-03-10T14:31:45.517159'
                  delay: 259200
                  email_template_id: tmpl_VRIpo4I8JnTGANQsPv77kZvzAhbxbheWYPIRR3hKusu
                  id: seqstep_7XwVZgafycIuCRILLzFR5t
                  required: true
                  step_allowed_delay: null
                  step_type: email
                  threading: old_thread
                  updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                subscription_counts_by_status:
                  active: 10
                  error: 0
                  finished: 5
                  goal: 15
                  paused: 2
                timezone: America/Los_Angeles
                updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    put:
      operationId: sequences_update
      tags:
      - sequences
      summary: Update a Sequence
      description: '**Note**: If you include `steps` in the payload and exclude some of the existing steps in your sequence, it will remove those steps from the sequence entirely.'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              name: My New Sequence Name
              steps:
              - id: seqstep_3fdjsr0thQshwVXo8rWG47
              - id: seqstep_0yMcp2AXxJh27sWsNpH0f1
              - id: seqstep_kjsd324toiweuroo812394
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                date_created: '2022-03-10T14:31:45.512611'
                date_updated: '2022-03-10T14:31:45.512615'
                id: seq_51kUuBR322o1B7vb2HvzSz
                name: My New Sequence Name
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                schedule: null
                status: active
                steps:
                - created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2022-03-10T14:31:45.515197'
                  date_updated: '2022-03-10T14:31:45.515200'
                  delay: 0
                  email_template_id: null
                  id: seqstep_3fdjsr0thQshwVXo8rWG47
                  required: true
                  step_allowed_delay: null
                  step_type: call
                  threading: null
                  updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                - created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2022-03-10T14:31:45.516521'
                  date_updated: '2022-03-10T14:31:45.516524'
                  delay: 86400
                  email_template_id: tmpl_VRIpo4I8JnTGANQsPv77kZvzAhbxbheWYPIRR3hKusu
                  id: seqstep_0yMcp2AXxJh27sWsNpH0f1
                  required: true
                  step_allowed_delay: null
                  step_type: email
                  threading: old_thread
                  updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                - created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2022-03-10T14:31:45.517156'
                  date_updated: '2022-03-10T14:31:45.517159'
                  delay: 259200
                  email_template_id: tmpl_VRIpo4I8JnTGANQsPv77kZvzAhbxbheWYPIRR3hKusu
                  id: seqstep_kjsd324toiweuroo812394
                  required: true
                  step_allowed_delay: null
                  step_type: email
                  threading: old_thread
                  updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                subscription_counts_by_status:
                  active: 10
                  error: 0
                  finished: 5
                  goal: 15
                  paused: 2
                timezone: America/Los_Angeles
                updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    delete:
      operationId: sequences_delete
      tags:
      - sequences
      summary: Delete a Sequence
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /sequence_subscription/:
    get:
      operationId: sequences_list_subscriptions
      tags:
      - sequences
      summary: List Sequence Subscriptions
      description: At least one of `sequence_id`, `contact_id`, and `lead_id` is required.
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      - in: query
        name: contact_id
        required: false
        schema:
          title: Contact ID
          type: string
      - in: query
        name: lead_id
        required: false
        schema:
          title: Lead ID
          type: string
      - in: query
        name: sequence_id
        required: false
        schema:
          title: Sequence ID
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - calls_assigned_to:
                  - user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  contact_email: contact@example.org
                  contact_id: cont_DDLGBBQO7jwLmSXVivqm3H5Vd1uavBBQptN4vapC9T9
                  created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2022-03-10T14:40:27.442448'
                  date_updated: '2022-03-10T14:40:27.442451'
                  id: sub_71lcl74wTWvv7Erx6uYWno
                  lead_id: lead_iuSXNk1x3446ggPVwQS7ynmp8pGRIDieRYiCnuo4yFb
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  sender_account_id: emailacct_0oCdHYhxtl5sV9j3ZwrJI1sUhbOK4FoZjDuTG9I2hej
                  sender_email: john@salesteam.com
                  sender_name: John Doe
                  sequence_id: seq_0aZN3EMlTRBdczaBStSN7D
                  start_date: null
                  status: active
                  status_reason: null
                  updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                has_more: false
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    post:
      operationId: sequences_create_subscription
      tags:
      - sequences
      summary: Subscribe a Contact to a Sequence
      requestBody:
        content:
          application/json:
            example:
              calls_assigned_to:
              - user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
              contact_email: contact@example.org
              contact_id: cont_MEe412YKyJBXuTqbttZBbcofXr3uydwKEhhBJjyu3O3
              sender_account_id: emailacct_0oCdHYhxtl5sV9j3ZwrJI1sUhbOK4FoZjDuTG9I2hej
              sender_email: john@salesteam.com
              sender_name: John Doe
              sequence_id: seq_1BTljGuCooX0nbFoPihl07
        required: true
      responses:
        '201':
          content:
            application/json:
              example:
                calls_assigned_to:
                - user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                contact_email: contact@example.org
                contact_id: cont_MEe412YKyJBXuTqbttZBbcofXr3uydwKEhhBJjyu3O3
                created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                date_created: '2022-03-10T14:40:27.442448'
                date_updated: '2022-03-10T14:40:27.442451'
                id: sub_71lcl74wTWvv7Erx6uYWno
                lead_id: lead_iuSXNk1x3446ggPVwQS7ynmp8pGRIDieRYiCnuo4yFb
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                sender_account_id: emailacct_0oCdHYhxtl5sV9j3ZwrJI1sUhbOK4FoZjDuTG9I2hej
                sender_email: john@salesteam.com
                sender_name: John Doe
                sequence_id: seq_1BTljGuCooX0nbFoPihl07
                start_date: null
                status: active
                status_reason: null
                updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /sequence_subscription/{id}/:
    get:
      operationId: sequences_get_subscription
      tags:
      - sequences
      summary: Fetch a single Sequence Subscription
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                calls_assigned_to:
                - user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                contact_email: contact@example.org
                contact_id: cont_MEe412YKyJBXuTqbttZBbcofXr3uydwKEhhBJjyu3O3
                created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                date_created: '2022-03-10T14:40:27.442448'
                date_updated: '2022-03-10T14:40:27.442451'
                id: sub_71lcl74wTWvv7Erx6uYWno
                lead_id: lead_iuSXNk1x3446ggPVwQS7ynmp8pGRIDieRYiCnuo4yFb
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                sender_account_id: emailacct_0oCdHYhxtl5sV9j3ZwrJI1sUhbOK4FoZjDuTG9I2hej
                sender_email: john@salesteam.com
                sender_name: John Doe
                sequence_id: seq_1BTljGuCooX0nbFoPihl07
                start_date: null
                status: active
                status_reason: null
                updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    put:
      operationId: sequences_update_subscription
      tags:
      - sequences
      summary: Update a specific Subscription
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              status: paused
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                calls_assigned_to:
                - user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                contact_email: contact@example.org
                contact_id: cont_MEe412YKyJBXuTqbttZBbcofXr3uydwKEhhBJjyu3O3
                created_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                date_created: '2022-03-10T14:40:27.442448'
                date_updated: '2022-03-10T14:40:27.442451'
                id: sub_71lcl74wTWvv7Erx6uYWno
                lead_id: lead_iuSXNk1x3446ggPVwQS7ynmp8pGRIDieRYiCnuo4yFb
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                sender_account_id: emailacct_0oCdHYhxtl5sV9j3ZwrJI1sUhbOK4FoZjDuTG9I2hej
                sender_email: john@salesteam.com
                sender_name: John Doe
                sequence_id: seq_1BTljGuCooX0nbFoPihl07
                start_date: null
                status: paused
                status_reason: manual
                updated_by_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    delete:
      operationId: sequences_delete_subscription
      tags:
      - sequences
      summary: Delete a Sequence Subscription
      description: Unsubscribe a contact from a sequence by deleting their subscription.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
components:
  parameters:
    LimitParam:
      description: Number of results to return.
      in: query
      name: _limit
      required: false
      schema:
        default: 100
        type: integer
    SkipParam:
      description: Number of results to skip before returning, for pagination.
      in: query
      name: _skip
      required: false
      schema:
        default: 0
        type: integer
  securitySchemes:
    ApiKeyAuth:
      description: Use your API key as the username and leave the password empty.
      scheme: basic
      type: http
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.close.com/oauth2/authorize/
          scopes:
            all.full_access: Full access to all resources
            offline_access: Request a refresh token
          tokenUrl: https://api.close.com/oauth2/token/
      type: oauth2
