openapi: 3.2.0
info:
  description: Close CRM REST API
  title: Close Users API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: users
  externalDocs:
    url: https://developer.close.com/api/resources/users
paths:
  /me/:
    get:
      operationId: users_get_me
      tags:
      - users
      summary: Fetch information about yourself
      description: A special instance of the Users endpoint for the current user. Useful for determining your own `id` and `organization_id`.
      parameters:
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                date_created: '2012-08-29T13:46:31.870000+00:00'
                date_updated: '2013-02-08T06:17:00.583000+00:00'
                email: anthony@close.com
                email_accounts:
                - _type: google
                  id: emailacct_qG1RuJuy5baiXvVbIc2VelooJwGcKeIrQLNtTd9p6RO
                  identities:
                  - email: anthony@close.com
                    name: Anthony Nemitz
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                first_name: Anthony
                id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                image: https://secure.gravatar.com/avatar/0ff7116c35caeba6d174affd45730cfd
                last_name: Nemitz
                last_used_timezone: America/Denver
                memberships:
                - auto_record_calls: disabled
                  id: memb_I4Tx9tZwz5npqdGtd0baWtjjlpeFf45OBlkAAKcF3Gc
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  permissions_granted:
                  - bulk_edit
                  - export
                  role_id: role_y6eLquXvRUdmwqi61tsmgCJUU7uGfxaRbDuLoONZL9p
                  track_email_opens: true
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                organizations:
                - created_by: null
                  date_created: '2013-02-01T00:54:51.097000+00:00'
                  date_updated: '2013-02-20T04:38:01.961000+00:00'
                  id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  lead_statuses:
                  - id: stat_1ZdiZqcSIkoGVnNOyxiEY58eTGQmFNG3LPlEVQ4V7Nk
                    label: Potential
                  - id: stat_2ZdiZqcSIkoGVnNOyxiEY58eTGQmFNG3LPlEVQ4V7Nk
                    label: Bad Fit
                  - id: stat_3ZdiZqcSIkoGVnNOyxiEY58eTGQmFNG3LPlEVQ4V7Nk
                    label: Qualified
                  name: Sample Data
                  pipelines:
                  - created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                    date_created: '2019-11-04T11:04:13.014979'
                    date_updated: '2019-11-13T14:12:13.051542'
                    id: pipe_6gV01if4wo7r2YTVQDWP2j
                    name: Sales
                    organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                    statuses:
                    - id: stat_3PB2sedHBCjwuBImAEwgHOo858f2j41lpROkcl51Fzp
                      label: Active
                      type: active
                    - id: stat_IOCtLYbAclJ8XAcb3yLUhQA3zlmjtXz8JMBLyXnNMF8
                      label: Won
                      type: won
                    - id: stat_3mmBOyMmaG8yc4DmAPp9WmgbjhVctVLlnd9gmvWxBe2
                      label: Lost
                      type: lost
                    updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  updated_by: null
                phone_numbers:
                - date_created: '2013-02-01T01:09:43.539000+00:00'
                  date_updated: '2013-02-01T01:09:43.539000+00:00'
                  id: phon_wvZIxqZic5rqu14gnYjKXbPtj0Spj4mRGwII17IZCkQ
                  number: '+16502822249'
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /user/:
    get:
      operationId: users_list
      tags:
      - users
      summary: List users in your organization
      description: List all users who are members of your organization.
      parameters:
      - in: query
        name: _order_by
        required: false
        schema:
          type: string
          enum:
          - last_name,first_name
          - first_name,last_name
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - date_created: '2012-08-29T00:33:22.720000+00:00'
                  date_updated: '2013-05-08T01:57:15.204000+00:00'
                  email: stefan@close.com
                  first_name: Stefan
                  id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  image: https://secure.gravatar.com/avatar/a4bec4594864f1896c4750328b1d7470
                  last_name: Wojcik
                  organizations:
                  - orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                - date_created: '2012-08-10T00:00:11.000000+00:00'
                  date_updated: '2013-05-08T02:00:13.000000+00:00'
                  email: kevin@close.com
                  first_name: Kevin
                  id: user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk
                  image: https://secure.gravatar.com/avatar/37b6e80dc105b9a8d0d16ef51b5d68c7
                  last_name: Ramani
                  organizations:
                  - orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                has_more: true
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /user/availability/:
    get:
      operationId: users_list_availabilities
      tags:
      - users
      summary: List user availability statuses
      description: 'List user availability statuses for all users in an organization.


        The `active_calls` field is an array of call metadata for calls that the user is currently participating in.'
      parameters:
      - in: query
        name: organization_id
        required: false
        schema:
          title: Organization ID
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - availability:
                  - active_calls: []
                    status: offline
                    type: mobile
                  - active_calls:
                    - id: acti_ZZfoNAATNVsvUG2eoozjUiG08KGO46uDa3aTSTChkDI
                      lead:
                        display_name: Wayne Enterprises
                        id: lead_8gzAE1a3yWyFUIlNzIGZbwWP7QaqlVixCq31uwqtwHu
                      method: regular
                    status: online
                    type: native
                  - active_calls: []
                    status: offline
                    type: web
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                - availability:
                  - active_calls: []
                    status: offline
                    type: mobile
                  - active_calls: []
                    status: offline
                    type: native
                  - active_calls: []
                    status: offline
                    type: web
                  user_id: user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk
                - availability:
                  - active_calls: []
                    status: online
                    type: mobile
                  - active_calls: []
                    status: offline
                    type: native
                  - active_calls: []
                    status: offline
                    type: web
                  user_id: user_SJMF1fEyZGdtl2RPzCm9zVQ7qhd33VajdGDREhbsxjF
                - availability:
                  - active_calls: []
                    status: offline
                    type: mobile
                  - active_calls: []
                    status: offline
                    type: native
                  - active_calls: []
                    status: online
                    type: web
                  user_id: user_OWiN4rEbBR04K2AKXe3jq5j1JWQqmTguuuZa1dG7qQr
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /user/{id}/:
    get:
      operationId: users_get
      tags:
      - users
      summary: Fetch a single user
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: _order_by
        required: false
        schema:
          type: string
          enum:
          - last_name,first_name
          - first_name,last_name
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      responses:
        '200':
          content:
            application/json:
              example:
                date_created: '2012-08-29T00:33:22.720000+00:00'
                date_updated: '2013-05-08T01:57:15.204000+00:00'
                email: stefan@close.com
                first_name: Stefan
                id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                image: https://secure.gravatar.com/avatar/a4bec4594864f1896c4750328b1d7470
                last_name: Wojcik
                organizations:
                - orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
components:
  parameters:
    LimitParam:
      description: Number of results to return.
      in: query
      name: _limit
      required: false
      schema:
        default: 100
        type: integer
    FieldsParam:
      description: Comma-separated list of fields to include in the response.
      in: query
      name: _fields
      required: false
      schema:
        type: string
    SkipParam:
      description: Number of results to skip before returning, for pagination.
      in: query
      name: _skip
      required: false
      schema:
        default: 0
        type: integer
  securitySchemes:
    ApiKeyAuth:
      description: Use your API key as the username and leave the password empty.
      scheme: basic
      type: http
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.close.com/oauth2/authorize/
          scopes:
            all.full_access: Full access to all resources
            offline_access: Request a refresh token
          tokenUrl: https://api.close.com/oauth2/token/
      type: oauth2
