openapi: 3.2.0
info:
  description: Close CRM REST API
  title: Close Bulk Actions.sequence Subscriptions API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: bulk_actions.sequence_subscriptions
  externalDocs:
    url: https://developer.close.com/api/resources/bulk-actions
paths:
  /bulk_action/sequence_subscription/:
    get:
      operationId: bulk_actions.sequence_subscriptions_list
      tags:
      - bulk_actions.sequence_subscriptions
      summary: List bulk sequence subscriptions
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - action_type: subscribe
                  calls_assigned_to: null
                  contact_preference: lead
                  created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  date_created: '2013-12-05T18:34:41.753000+00:00'
                  date_updated: '2013-12-05T19:33:29.357000+00:00'
                  from_phone_number_id: null
                  id: bulkseqsub_qmjJY85TSmMBqw1MKgL5o3LdSJkvklqfAwfdcjiRYCy
                  n_leads: 824
                  n_leads_processed: 523
                  n_objects: 824
                  n_objects_processed: 523
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  query: lead_status:Potential
                  results_limit: null
                  s_query:
                    queries:
                    - object_type: lead
                      type: object_type
                    - condition:
                        mode: full_words
                        type: text
                        value: ACME Inc.
                      field:
                        field_name: name
                        object_type: lead
                        type: regular_field
                      type: field_condition
                    type: and
                  send_done_email: false
                  sender_account_id: emailacct_aslkdjfalksjdfCmLShmuvlPMFy7Ze61FVeEj1VXnlG
                  sender_email: john@salesteam.com
                  sender_name: John Doe
                  sequence_id: seq_1BTljGuCooX0nbFoPihl07
                  sort: []
                  status: processing
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                has_more: false
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/BulkSequenceSubscriptionAction'
                    type: array
                  has_more:
                    type: boolean
                required:
                - data
                - has_more
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    post:
      operationId: bulk_actions.sequence_subscriptions_create
      tags:
      - bulk_actions.sequence_subscriptions
      summary: Initiate a new bulk sequence subscription
      description: '`action_type` must be one of:


        - `subscribe` to create a new sequence subscription for contacts that have never received the given sequence.

        - `resume` to resume any paused sequence subscriptions for the given sequence or all sequences if `sequence_id` is not provided.

        - `resume_finished` to resume any finished sequence subscriptions for the given sequence or all sequences if `sequence_id` is not provided.

        - `pause` to pause any active sequence subscriptions for the given sequence or all sequences if `sequence_id` is not provided.


        `sequence_id`, `sender_account_id`, `sender_name`, `sender_email` and `contact_preference` are required if `action_type` is `subscribe`.


        `contact_preference` can be set to:


        - `lead` to only subscribe the primary/first contact email of the lead.

        - `contact` to subscribe the primary email of each contact of the lead.'
      requestBody:
        content:
          application/json:
            example:
              action_type: subscribe
              contact_preference: lead
              results_limit: null
              s_query:
                queries:
                - object_type: lead
                  type: object_type
                - condition:
                    mode: full_words
                    type: text
                    value: ACME Inc.
                  field:
                    field_name: name
                    object_type: lead
                    type: regular_field
                  type: field_condition
                type: and
              sender_account_id: emailacct_aslkdjfalksjdfCmLShmuvlPMFy7Ze61FVeEj1VXnlG
              sender_email: john@salesteam.com
              sender_name: John Doe
              sequence_id: seq_1BTljGuCooX0nbFoPihl07
              sort:
              - direction: desc
                field:
                  field_name: date_created
                  object_type: lead
                  type: regular_field
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                action_type: subscribe
                calls_assigned_to: null
                contact_preference: lead
                created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                date_created: '2013-12-05T18:34:41.753000+00:00'
                date_updated: '2013-12-05T19:33:29.357000+00:00'
                from_phone_number_id: null
                id: bulkseqsub_qmjJY85TSmMBqw1MKgL5o3LdSJkvklqfAwfdcjiRYCy
                n_leads: 824
                n_leads_processed: 523
                n_objects: 824
                n_objects_processed: 523
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                query: lead_status:Potential
                results_limit: null
                s_query:
                  queries:
                  - object_type: lead
                    type: object_type
                  - condition:
                      mode: full_words
                      type: text
                      value: ACME Inc.
                    field:
                      field_name: name
                      object_type: lead
                      type: regular_field
                    type: field_condition
                  type: and
                send_done_email: false
                sender_account_id: emailacct_aslkdjfalksjdfCmLShmuvlPMFy7Ze61FVeEj1VXnlG
                sender_email: john@salesteam.com
                sender_name: John Doe
                sequence_id: seq_1BTljGuCooX0nbFoPihl07
                sort:
                - direction: desc
                  field:
                    field_name: date_created
                    object_type: lead
                    type: regular_field
                status: processing
                updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
              schema:
                $ref: '#/components/schemas/BulkSequenceSubscriptionAction'
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /bulk_action/sequence_subscription/{id}/:
    get:
      operationId: bulk_actions.sequence_subscriptions_get
      tags:
      - bulk_actions.sequence_subscriptions
      summary: Fetch a single bulk sequence subscription object
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                action_type: subscribe
                calls_assigned_to: null
                contact_preference: lead
                created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                date_created: '2013-12-05T18:34:41.753000+00:00'
                date_updated: '2013-12-05T19:33:29.357000+00:00'
                from_phone_number_id: null
                id: bulkseqsub_qmjJY85TSmMBqw1MKgL5o3LdSJkvklqfAwfdcjiRYCy
                n_leads: 824
                n_leads_processed: 523
                n_objects: 824
                n_objects_processed: 523
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                query: lead_status:Potential
                results_limit: null
                s_query:
                  queries:
                  - object_type: lead
                    type: object_type
                  - condition:
                      mode: full_words
                      type: text
                      value: ACME Inc.
                    field:
                      field_name: name
                      object_type: lead
                      type: regular_field
                    type: field_condition
                  type: and
                send_done_email: false
                sender_account_id: emailacct_aslkdjfalksjdfCmLShmuvlPMFy7Ze61FVeEj1VXnlG
                sender_email: john@salesteam.com
                sender_name: John Doe
                sequence_id: seq_1BTljGuCooX0nbFoPihl07
                sort: []
                status: processing
                updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
              schema:
                $ref: '#/components/schemas/BulkSequenceSubscriptionAction'
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
components:
  schemas:
    BulkActionStatus:
      title: BulkActionStatus
      type: string
      enum:
      - created
      - loading
      - processing
      - done
      - paused
      - resuming
      - error
    BulkSequenceSubscriptionContactPreference:
      title: BulkSequenceSubscriptionContactPreference
      type: string
      enum:
      - lead
      - contact
    BulkSequenceSubscriptionAction:
      title: BulkSequenceSubscriptionAction
      type: object
      properties:
        action_type:
          $ref: '#/components/schemas/BulkSequenceSubscriptionActionType'
        calls_assigned_to:
          title: Calls Assigned To
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
        contact_preference:
          anyOf:
          - $ref: '#/components/schemas/BulkSequenceSubscriptionContactPreference'
          - type: 'null'
        created_by:
          title: Created By
          anyOf:
          - type: string
          - type: 'null'
        date_created:
          title: Date Created
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
        date_updated:
          title: Date Updated
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
        from_phone_number_id:
          title: From Phone Number ID
          anyOf:
          - type: string
          - type: 'null'
        id:
          title: ID
          type: string
        n_leads:
          title: N Leads
          anyOf:
          - type: integer
          - type: 'null'
        n_leads_processed:
          title: N Leads Processed
          type: integer
        n_objects:
          title: N Objects
          anyOf:
          - type: integer
          - type: 'null'
        n_objects_processed:
          title: N Objects Processed
          type: integer
        organization_id:
          title: Organization ID
          type: string
        query:
          title: Query
          anyOf:
          - type: string
          - type: 'null'
        results_limit:
          title: Results Limit
          anyOf:
          - type: integer
          - type: 'null'
        s_query:
          title: S Query
          type: object
          additionalProperties: true
        send_done_email:
          title: Send Done Email
          type: boolean
        sender_account_id:
          title: Sender Account ID
          anyOf:
          - type: string
          - type: 'null'
        sender_email:
          title: Sender Email
          anyOf:
          - type: string
          - type: 'null'
        sender_name:
          title: Sender Name
          anyOf:
          - type: string
          - type: 'null'
        sequence_id:
          title: Sequence ID
          anyOf:
          - type: string
          - type: 'null'
        sort:
          title: Sort
          type: array
          items:
            type: object
            additionalProperties: true
        status:
          anyOf:
          - $ref: '#/components/schemas/BulkActionStatus'
          - type: 'null'
        updated_by:
          title: Updated By
          anyOf:
          - type: string
          - type: 'null'
      required:
      - action_type
      - calls_assigned_to
      - contact_preference
      - created_by
      - date_created
      - date_updated
      - from_phone_number_id
      - id
      - n_leads
      - n_leads_processed
      - n_objects
      - n_objects_processed
      - organization_id
      - query
      - results_limit
      - s_query
      - send_done_email
      - sender_account_id
      - sender_email
      - sender_name
      - sequence_id
      - sort
      - status
      - updated_by
    BulkSequenceSubscriptionActionType:
      title: BulkSequenceSubscriptionActionType
      type: string
      enum:
      - subscribe
      - resume
      - resume_finished
      - pause
      - reassign
  parameters:
    FieldsParam:
      description: Comma-separated list of fields to include in the response.
      in: query
      name: _fields
      required: false
      schema:
        type: string
    LimitParam:
      description: Number of results to return.
      in: query
      name: _limit
      required: false
      schema:
        default: 100
        type: integer
    SkipParam:
      description: Number of results to skip before returning, for pagination.
      in: query
      name: _skip
      required: false
      schema:
        default: 0
        type: integer
  securitySchemes:
    ApiKeyAuth:
      description: Use your API key as the username and leave the password empty.
      scheme: basic
      type: http
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.close.com/oauth2/authorize/
          scopes:
            all.full_access: Full access to all resources
            offline_access: Request a refresh token
          tokenUrl: https://api.close.com/oauth2/token/
      type: oauth2
