openapi: 3.2.0
info:
  description: Close CRM REST API
  title: Close Custom Fields.activity API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: custom_fields.activity
  externalDocs:
    url: https://developer.close.com/api/resources/custom-fields/custom-fields-activity
paths:
  /custom_field/activity/:
    get:
      operationId: custom_fields.activity_list
      tags:
      - custom_fields.activity
      summary: List Activity Custom Fields
      description: List all the activity custom fields for your organization.
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - accepts_multiple_values: false
                  created_by: user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk
                  custom_activity_type_id: actitype_1h5m6uHM9BZOpwVhyRJb4Y
                  date_created: '2020-08-04T17:36:09.235000+00:00'
                  date_updated: '2020-08-04T17:36:09.235000+00:00'
                  description: Email of the person who signed up for the newsletter
                  editable_with_roles: []
                  id: cf_UpyNBvr6Rw8UBHh7zRboL3PYhbOVJl3XvwgPm3jg64S
                  name: Email Address
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  required: true
                  type: text
                  updated_by: user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk
                - accepts_multiple_values: false
                  choices:
                  - 'No'
                  - 'Yes'
                  created_by: user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk
                  custom_activity_type_id: actitype_1h5m6uHM9BZOpwVhyRJb4Y
                  date_created: '2020-07-28T20:05:36.202000+00:00'
                  date_updated: '2020-07-28T20:05:36.202000+00:00'
                  description: null
                  editable_with_roles: []
                  id: cf_cSh3fWT3rEJ1BFSezme2YAG6bPrZV5wUWKKrW4iN19g
                  name: Wants Marketing Materials
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  required: false
                  type: choices
                  updated_by: user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk
                has_more: false
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    post:
      operationId: custom_fields.activity_create
      tags:
      - custom_fields.activity
      summary: Create a new Activity Custom Field
      description: "Activity Custom Fields belong to Custom Activities, and have additional attributes:\n\n- `custom_activity_type_id` – the ID of the Custom Activity Type this Field\n  should belong to.\n- `required` – whether the Field will be required to publish the activity."
      requestBody:
        content:
          application/json:
            example:
              accepts_multiple_values: false
              custom_activity_type_id: actitype_1h5m6uHM9BZOpwVhyRJb4Y
              editable_with_roles: []
              name: Contact Name
              required: false
              type: text
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                accepts_multiple_values: false
                created_by: user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk
                custom_activity_type_id: actitype_1h5m6uHM9BZOpwVhyRJb4Y
                date_created: '2020-08-07T17:11:44.299904'
                date_updated: '2020-08-07T17:11:44.299904'
                description: null
                editable_with_roles: []
                id: cf_1nkEcnaoAiTJBfYmTBsOQqFCuIkqc82Q f4yKUx01e0K
                name: Contact Name
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                required: false
                type: text
                updated_ by: user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /custom_field/activity/{id}/:
    get:
      operationId: custom_fields.activity_get
      tags:
      - custom_fields.activity
      summary: Fetch Activity Custom Field's details
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                accepts_multiple_values: false
                choices:
                - 'No'
                - 'Yes'
                created_by: user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk
                custom_activity_type_id: actitype_1h5m6uHM9BZOpwVhyRJb4Y
                date_created: '2020-07-28T20:05:36.202000+00:00'
                date_updated: '2020-07-28T20:05:36.202000+00:00'
                description: null
                editable_with_roles: []
                id: cf_cSh3fWT3rEJ1BFSezme2YAG6bPrZV5wUWKKrW4iN19g
                name: Wants Marketing Materials
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                required: false
                type: choices
                updated_by: user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    put:
      operationId: custom_fields.activity_update
      tags:
      - custom_fields.activity
      summary: Update an Activity Custom Field
      description: 'You can rename it, change whether it accepts multiple values or not, change the "required" flag, change whether editing its values is restricted to specific Roles, or update the options for a "choices" field type. The updated name will immediately appear in the Close UI and only valid values for the updated `type` will be returned by the Custom Activity API.


        The `custom_activity_type_id` and `type` values cannot be changed.'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              name: Free-form Notes
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                accepts_multiple_values: false
                created_by: user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk
                custom_activity_type_id: actitype_1h5m6uHM9BZOpwVhyRJb4Y
                date_created: '2020-08-07T17:11:44.299904'
                date_updated: '2020-08-07T17:11:44.299904'
                description: null
                editable_with_roles: []
                id: cf_1nkEcnaoAiTJBfYmTBsOQqFCuIkqc82Q f4yKUx01e0K
                name: Free-form Notes
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                required: false
                type: text
                updated_ by: user_Ova4RGFG7pztSeJiiMFdN7O2MFl71nD0uGO3bIOo4Wk
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    delete:
      operationId: custom_fields.activity_delete
      tags:
      - custom_fields.activity
      summary: Delete an Activity Custom Field
      description: Delete an activity custom field. The field will immediately disappear from API responses and values on existing activities will be permanently removed.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
components:
  parameters:
    LimitParam:
      description: Number of results to return.
      in: query
      name: _limit
      required: false
      schema:
        default: 100
        type: integer
    FieldsParam:
      description: Comma-separated list of fields to include in the response.
      in: query
      name: _fields
      required: false
      schema:
        type: string
    SkipParam:
      description: Number of results to skip before returning, for pagination.
      in: query
      name: _skip
      required: false
      schema:
        default: 0
        type: integer
  securitySchemes:
    ApiKeyAuth:
      description: Use your API key as the username and leave the password empty.
      scheme: basic
      type: http
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.close.com/oauth2/authorize/
          scopes:
            all.full_access: Full access to all resources
            offline_access: Request a refresh token
          tokenUrl: https://api.close.com/oauth2/token/
      type: oauth2
