openapi: 3.2.0
info:
  description: Close CRM REST API
  title: Close Activities API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: activities
  externalDocs:
    url: https://developer.close.com/api/resources/activities
paths:
  /activity/:
    get:
      operationId: activities_list
      tags:
      - activities
      summary: List or filter all activity types
      description: "To list only a specific activity type (e.g., only `Call` or `LeadStatusChange`), use the other resources listed separately. When querying activities for a single lead (using the `lead_id` parameter), you can ask for multiple activity types using `_type__in`.\n\nWhen listing [Custom Activities](https://developer.close.com/api/resources/activities/custom-activities), `_type` and `_type__in` can include Custom Activity Type ids (e.g. `actitype_1h5m6uHM9BZOpwVhyRJb4Y`) to filter by a specific custom activity type or `Custom` to list custom activities of any type.\n\nThe following filtering parameters can only be used for listing activities on a single lead (using the `lead_id` parameter): `user_id`, `user_id__in`, `contact_id`, `contact_id__in`, `_type`, `_type__in`.\n\nAll activities have two sortable datetime fields: `date_created` and `activity_at`. `date_created` denotes when an activity was created or synced into Close and `activity_at` denotes when that activity actually occurred. For example, on outgoing Email activities, `date_created` is equal to when the email was first created in Close, and `activity_at` is equal to when the email was actually sent. For Meeting activities, `activity_at` is equal to the scheduled time of the meeting. On custom activities, users are able to update the `activity_at` field at any time.\n\nSorting by `-activity_at` can only be used when listing activities on a single lead using the `lead_id` parameter. In addition, you can only use the date-based filters of the field you're currently sorting on. This means that if you want to use `activity_at__lt` and `activity_at__gt` as filters, you need to include `_order_by=-activity_at` in your request.\n\n`thread_emails` parameter:\n\n - (Default) when this parameter is not present, `Email` objects will be returned for each email message.\n - A value of `true` will return `EmailThread` objects representing email conversations. Stripped-down version of `Email` objects will also be returned.\n - A value of `only` will return `EmailThread` objects representing email conversations. `Email` objects will not be returned."
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      - $ref: '#/components/parameters/ActivityFilters_IdInParam'
      - $ref: '#/components/parameters/ActivityFilters_LeadIdParam'
      - $ref: '#/components/parameters/ActivityFilters_ContactIdParam'
      - $ref: '#/components/parameters/ActivityFilters_UserIdParam'
      - $ref: '#/components/parameters/ActivityFilters_OrganizationIdParam'
      - $ref: '#/components/parameters/ActivityFilters_TypeParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedGteParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedLteParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedGtParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedLtParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtGteParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtLteParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtGtParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtLtParam'
      - in: query
        name: lead_id__in
        required: false
        schema:
          title: Lead ID (In)
          type: string
      - in: query
        name: user_id__in
        required: false
        schema:
          title: User ID (In)
          type: string
      - in: query
        name: contact_id__in
        required: false
        schema:
          title: Contact ID (In)
          type: string
      - in: query
        name: _type__in
        required: false
        schema:
          title: Type (In)
          type: string
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: _order_by
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - _type: Created
                  activity_at: '2013-02-20T05:44:35.636000+00:00'
                  contact_id: null
                  created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  created_by_name: Bruce Wayne
                  date_created: '2013-02-20T05:44:35.636000+00:00'
                  date_updated: '2013-02-20T05:44:35.667000+00:00'
                  id: acti_ICUkwteuKAaJvhNqF1QBoVOWKQuSbFuOYoZxGeWQAeg
                  lead_id: lead_pqXrF8figcDHN7HvaXmb4wTjpxnxpmqheEyjTYPfdi5
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  source: api
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  updated_by_name: Bruce Wayne
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  user_name: Bruce Wayne
                - _type: Created
                  activity_at: '2013-02-20T05:44:31.940000+00:00'
                  contact_id: null
                  created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  created_by_name: Bruce Wayne
                  date_created: '2013-02-20T05:44:31.940000+00:00'
                  date_updated: '2013-02-20T05:44:31.955000+00:00'
                  id: acti_k8u1xLU5G9L0YLkxLqAHEZFB84oB7fN9vqjCgljfcFN
                  lead_id: lead_6SY1tPBB1EnQneopPGSLsAmXVkTRf4P0r6Y6ntdPowL
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  source: api
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  updated_by_name: Bruce Wayne
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  user_name: Bruce Wayne
                - _type: Created
                  activity_at: '2013-02-20T05:30:24.854000+00:00'
                  contact_id: null
                  created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  created_by_name: Bruce Wayne
                  date_created: '2013-02-20T05:30:24.854000+00:00'
                  date_updated: '2013-02-20T05:30:24.870000+00:00'
                  id: acti_0wDacWkNoKKVn7I8wCuEc1XbQ7lGQxCgZ9WNQn71P8j
                  lead_id: lead_70jZ5hiVt5X31MZ3vJ0R0GJMqJEihkoF7TtSVFbN2ty
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  source: api
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  updated_by_name: Bruce Wayne
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  user_name: Bruce Wayne
                - _type: Email
                  activity_at: '2013-02-08T05:03:15.000000+00:00'
                  attachments: []
                  bcc: []
                  body_html: 'Cool!<br>

                    <br>

                    This is rad. &lt;3<br>

                    <br><br>______________________________________________<br>Sent via <a href=''http://close.com/?utm_source=signature&utm_medium=email&utm_campaign=signature''>Close</a> &ndash; sales communication made simple'
                  body_text: 'Cool!


                    This is rad. <3



                    ______________________________________________

                    Sent via http://close.com/ - sales communication made simple'
                  body_text_quoted:
                  - expand: true
                    text: 'Cool!


                      This is rad. <3



                      ______________________________________________

                      Sent via http://close.com/ - sales communication made simple'
                  cc: []
                  contact_id: cont_eXZwc2SVL4G3xSR85jnfPny2ykvoAQndSyi1Doa2YLO
                  created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  created_by_name: Bruce Wayne
                  date_created: '2013-02-08T05:02:42.050000+00:00'
                  date_updated: '2013-02-08T05:03:16.281000+00:00'
                  direction: outgoing
                  envelope:
                    bcc: []
                    cc: []
                    date: Fri, 08 Feb 2013 05:03:15 +0000
                    from:
                    - email: phil@close.com
                      name: Phil Freo
                    in_reply_to: null
                    message_id: <20130208050314.11553.33819@ec2-54-245-86-79.us-west-2.compute.amazonaws.com>
                    reply_to: []
                    sender:
                    - email: phil@close.com
                      name: Phil Freo
                    subject: Testing testing!!!!
                    to:
                    - email: phil@close.com
                      name: ''
                  id: acti_C4DFcBED1FwLSDqn853hjc979h7DIuH2vwABzGWhRAO
                  lead_id: lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h
                  opens: []
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  send_attempts: []
                  sender: phil@close.com
                  status: sent
                  subject: Testing testing!!!!
                  template_id: null
                  to:
                  - phil@close.com
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  updated_by_name: Bruce Wayne
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  user_name: Bruce Wayne
                - _type: Note
                  activity_at: '2013-02-01T01:05:04.070000+00:00'
                  contact_id: null
                  created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  created_by_name: Bruce Wayne
                  date_created: '2013-02-01T01:05:04.070000+00:00'
                  date_updated: '2013-02-01T01:06:35.668000+00:00'
                  id: acti_XOyG7jURMfsLgKuYGqbQ4Qp7L5a16pQOcDfTgotqDak
                  lead_id: lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h
                  note: 'Welcome to Close! Get started by:


                    1. Import your leads! Use our "Bulk CSV Upload" tool by clicking your name in the top right. Add leads manually by clicking "New Lead" in the lower left.


                    2. Invite your co-workers!


                    3. Setup two-way syncing of your emails by going to Settings -> Email Settings.'
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  updated_by_name: Bruce Wayne
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  user_name: Bruce Wayne
                - _type: Email
                  activity_at: '2013-02-01T00:54:51.000000+00:00'
                  attachments: []
                  bcc: []
                  body_html: Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!
                  body_text: Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!
                  body_text_quoted:
                  - expand: true
                    text: Hi! My name is Karan and I'm your Account Manager. I'm here to get your team set up and help with anything you may need as you evaluate our platform. Please don't hesitate to reach out to me with any questions!
                  cc: []
                  contact_id: cont_8NNOJnVwmHQEYuVOgJ4B4zU7g9RUxYH4JnPjza5Vr6t
                  created_by: null
                  date_created: '2013-02-01T00:54:51.274000+00:00'
                  date_updated: '2013-02-01T00:56:04.184000+00:00'
                  direction: incoming
                  envelope:
                    bcc: []
                    cc: []
                    date: Fri, 01 Feb 2013 00:54:51 +0000
                    from:
                    - email: karan@close.com
                      name: ''
                    in_reply_to: null
                    message_id: <20130201005451.14369.20369@ec2-54-245-86-79.us-west-2.compute.amazonaws.com>
                    reply_to: []
                    sender:
                    - email: karan@close.com
                      name: ''
                    subject: Welcome to Close!
                    to:
                    - email: phil+sample@close.com
                      name: ''
                  id: acti_WuIVvTT9b3zLmOOWalxK0OrqtdkxEEdu4mNr1TPGb2o
                  lead_id: lead_KwD00BYbXCHiPWj68LxFkxaeWuULpZ7awzm6LqeFs0h
                  opens: []
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  send_attempts: []
                  sender: karan@close.com
                  status: inbox
                  subject: Welcome to Close!
                  template_id: null
                  to:
                  - phil+sample@close.com
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  updated_by_name: Bruce Wayne
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  user_name: Bruce Wayne
                has_more: false
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
components:
  parameters:
    ActivityFilters_IdInParam:
      description: Filter by activity IDs (comma-separated)
      in: query
      name: id__in
      required: false
      schema:
        title: ID In
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_DateCreatedGteParam:
      in: query
      name: date_created__gte
      required: false
      schema:
        title: Date Created (>=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    FieldsParam:
      description: Comma-separated list of fields to include in the response.
      in: query
      name: _fields
      required: false
      schema:
        type: string
    ActivityFilters_ActivityAtLteParam:
      in: query
      name: activity_at__lte
      required: false
      schema:
        title: Activity At (<=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_ActivityAtGtParam:
      in: query
      name: activity_at__gt
      required: false
      schema:
        title: Activity At (>)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_DateCreatedLtParam:
      in: query
      name: date_created__lt
      required: false
      schema:
        title: Date Created (<)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_UserIdParam:
      description: Filter by user IDs (comma-separated)
      in: query
      name: user_id
      required: false
      schema:
        title: User ID
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_DateCreatedGtParam:
      in: query
      name: date_created__gt
      required: false
      schema:
        title: Date Created (>)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_ContactIdParam:
      description: Filter by contact IDs (comma-separated)
      in: query
      name: contact_id
      required: false
      schema:
        title: Contact ID
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_TypeParam:
      description: Filter by activity type, e.g. Call (comma-separated)
      in: query
      name: _type
      required: false
      schema:
        title: Type
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_OrganizationIdParam:
      in: query
      name: organization_id
      required: false
      schema:
        title: Organization ID
        default: null
        anyOf:
        - type: string
        - type: 'null'
    ActivityFilters_LeadIdParam:
      description: Filter by lead IDs (comma-separated)
      in: query
      name: lead_id
      required: false
      schema:
        title: Lead ID
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_ActivityAtLtParam:
      in: query
      name: activity_at__lt
      required: false
      schema:
        title: Activity At (<)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_ActivityAtGteParam:
      in: query
      name: activity_at__gte
      required: false
      schema:
        title: Activity At (>=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    LimitParam:
      description: Number of results to return.
      in: query
      name: _limit
      required: false
      schema:
        default: 100
        type: integer
    ActivityFilters_DateCreatedLteParam:
      in: query
      name: date_created__lte
      required: false
      schema:
        title: Date Created (<=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    SkipParam:
      description: Number of results to skip before returning, for pagination.
      in: query
      name: _skip
      required: false
      schema:
        default: 0
        type: integer
  securitySchemes:
    ApiKeyAuth:
      description: Use your API key as the username and leave the password empty.
      scheme: basic
      type: http
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.close.com/oauth2/authorize/
          scopes:
            all.full_access: Full access to all resources
            offline_access: Request a refresh token
          tokenUrl: https://api.close.com/oauth2/token/
      type: oauth2
