openapi: 3.2.0
info:
  title: Endpoints Subpackage Bulk Actions Email API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
tags:
- name: subpackage_bulkActionsEmail
paths:
  /bulk_action/email/:
    get:
      operationId: list
      summary: List bulk emails
      tags:
      - subpackage_bulkActionsEmail
      parameters:
      - name: _limit
        in: query
        description: Number of results to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: _skip
        in: query
        description: Number of results to skip before returning, for pagination.
        required: false
        schema:
          type: integer
          default: 0
      - name: _fields
        in: query
        description: Comma-separated list of fields to include in the response.
        required: false
        schema:
          type: string
      - name: template_id
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulk_actions.email_list_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
    post:
      operationId: create
      summary: Initiate a new bulk email
      description: '`contact_preference` can be set to `lead` (only email the primary/first contact email of the lead) or `contact` (email the first contact email of each contact of the lead).'
      tags:
      - subpackage_bulkActionsEmail
      parameters:
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEmailAction'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              description: Any type
  /bulk_action/email/{id}/:
    get:
      operationId: get
      summary: Fetch a single bulk email object
      tags:
      - subpackage_bulkActionsEmail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _fields
        in: query
        description: Comma-separated list of fields to include in the response.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEmailAction'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
components:
  schemas:
    BulkEmailContactPreference:
      type: string
      enum:
      - lead
      - contact
      - all
      title: BulkEmailContactPreference
    BulkActionStatus:
      type: string
      enum:
      - created
      - loading
      - processing
      - done
      - paused
      - resuming
      - error
      title: BulkActionStatus
    BulkEmailAction:
      type: object
      properties:
        contact_preference:
          oneOf:
          - $ref: '#/components/schemas/BulkEmailContactPreference'
          - type: 'null'
        created_by:
          type:
          - string
          - 'null'
        date_created:
          type:
          - string
          - 'null'
          format: date-time
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
        email_account_id:
          type:
          - string
          - 'null'
        id:
          type: string
        n_leads:
          type:
          - integer
          - 'null'
        n_leads_processed:
          type: integer
        n_objects:
          type:
          - integer
          - 'null'
        n_objects_processed:
          type: integer
        organization_id:
          type: string
        query:
          type:
          - string
          - 'null'
        results_limit:
          type:
          - integer
          - 'null'
        s_query:
          type: object
          additionalProperties:
            description: Any type
        send_done_email:
          type: boolean
        sender:
          type:
          - string
          - 'null'
        sort:
          type: array
          items:
            type: object
            additionalProperties:
              description: Any type
        status:
          oneOf:
          - $ref: '#/components/schemas/BulkActionStatus'
          - type: 'null'
        template_id:
          type:
          - string
          - 'null'
        updated_by:
          type:
          - string
          - 'null'
      required:
      - contact_preference
      - created_by
      - date_created
      - date_updated
      - email_account_id
      - id
      - n_leads
      - n_leads_processed
      - n_objects
      - n_objects_processed
      - organization_id
      - query
      - results_limit
      - s_query
      - send_done_email
      - sender
      - sort
      - status
      - template_id
      - updated_by
      title: BulkEmailAction
    bulk_actions.email_list_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BulkEmailAction'
        has_more:
          type: boolean
      required:
      - data
      - has_more
      title: bulk_actions.email_list_Response_200
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: basic
      description: Use your API key as the username and leave the password empty.
    OAuth2:
      type: http
      scheme: bearer
