openapi: 3.1.0
info:
  title: API Endpoints subpackage_activities subpackage_fieldEnrichment API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
tags:
- name: subpackage_fieldEnrichment
paths:
  /enrich_field/:
    post:
      operationId: create
      summary: Enrich a specific field on a lead or contact using AI
      description: 'This endpoint uses AI to enrich (populate or enhance) a specific field on a lead or contact. The enrichment process analyzes existing data and external sources to provide intelligent field values.


        **Parameters:**

        - `organization_id` (required): The organization ID

        - `object_type` (required): Either "lead" or "contact"

        - `object_id` (required): The ID of the lead or contact to enrich

        - `field_id` (required): The ID of the custom field to enrich

        - `set_new_value` (optional): Whether to update the field with the enriched value (default: true)

        - `overwrite_existing_value` (optional): Whether to overwrite existing field values (default: false)'
      tags:
      - subpackage_fieldEnrichment
      parameters:
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/field_enrichment_create_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunFieldEnrichment'
components:
  schemas:
    RunFieldEnrichment:
      type: object
      properties:
        field_id:
          type: string
        object_id:
          type: string
        object_type:
          $ref: '#/components/schemas/RunFieldEnrichmentObjectType'
        organization_id:
          type: string
        overwrite_existing_value:
          type: boolean
          default: false
        set_new_value:
          type: boolean
          default: true
      required:
      - field_id
      - object_id
      - object_type
      - organization_id
      title: RunFieldEnrichment
    RunFieldEnrichmentObjectType:
      type: string
      enum:
      - lead
      - contact
      title: RunFieldEnrichmentObjectType
    field_enrichment_create_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: field_enrichment_create_Response_200
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: basic
      description: Use your API key as the username and leave the password empty.
    OAuth2:
      type: http
      scheme: bearer
