openapi: 3.2.0
info:
  description: Close CRM REST API
  title: Close Activities.lead Status Changes API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: activities.lead_status_changes
  externalDocs:
    url: https://developer.close.com/api/resources/activities/lead-status-changes
paths:
  /activity/status_change/lead/:
    get:
      operationId: activities.lead_status_changes_list
      tags:
      - activities.lead_status_changes
      summary: List or filter all LeadStatusChange activities
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      - $ref: '#/components/parameters/ActivityFilters_IdInParam'
      - $ref: '#/components/parameters/ActivityFilters_LeadIdParam'
      - $ref: '#/components/parameters/ActivityFilters_ContactIdParam'
      - $ref: '#/components/parameters/ActivityFilters_UserIdParam'
      - $ref: '#/components/parameters/ActivityFilters_OrganizationIdParam'
      - $ref: '#/components/parameters/ActivityFilters_TypeParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedGteParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedLteParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedGtParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedLtParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtGteParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtLteParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtGtParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtLtParam'
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - _type: LeadStatusChange
                  activity_at: '2013-08-23T20:57:45.956000+00:00'
                  contact_id: null
                  created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  created_by_name: Anthony Nemitz
                  date_created: '2013-08-23T20:57:45.956000+00:00'
                  date_updated: '2013-08-23T20:57:45.956000+00:00'
                  id: acti_jSqoxKYTY522iEfrKfKzqjhw5zP8uS59SQx38KGbbhx
                  lead_id: lead_DwJwyY8nynRQicBMFPFccrbAJHT1bxv7t31UiphS9kv
                  new_status_id: stat_t7Zd2uspYPvBafR5bu9agrFZFs8GToWIbDnkqSk8nT8
                  new_status_label: Trial Qualified
                  old_status_id: stat_TRuQucMjSlSSV6cGAQixHBNyU2FS9zDyixNguwlfXxu
                  old_status_label: Trial
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  updated_by_name: Anthony Nemitz
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  user_name: Anthony Nemitz
                  users: []
                has_more: false
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/LeadStatusChangeActivity'
                    type: array
                  has_more:
                    type: boolean
                required:
                - data
                - has_more
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    post:
      operationId: activities.lead_status_changes_create
      tags:
      - activities.lead_status_changes
      summary: Create a new LeadStatusChange activity
      description: Creating a lead status change does not change the lead's status. It only logs the status change event in the lead's activity feed. This should only be used to import historical status changes from another system.
      requestBody:
        content:
          application/json:
            example:
              date_created: '2013-08-23T20:57:45.956000+00:00'
              lead_id: lead_fioU1Nk5LC0H0iei9XBGHW2CFZU0yeP2zZCJQP9pC4m
              new_status_id: stat_t7Zd2uspYPvBafR5bu9agrFZFs8GToWIbDnkqSk8nT8
              old_status_id: stat_TRuQucMjSlSSV6cGAQixHBNyU2FS9zDyixNguwlfXxu
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                _type: LeadStatusChange
                activity_at: '2013-08-23T20:57:45.956000+00:00'
                contact_id: null
                created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                created_by_name: Anthony Nemitz
                date_created: '2013-08-23T20:57:45.956000+00:00'
                date_updated: '2013-08-23T20:57:45.956000+00:00'
                id: acti_jSqoxKYTY522iEfrKfKzqjhw5zP8uS59SQx38KGbbhx
                lead_id: lead_fioU1Nk5LC0H0iei9XBGHW2CFZU0yeP2zZCJQP9pC4m
                new_status_id: stat_t7Zd2uspYPvBafR5bu9agrFZFs8GToWIbDnkqSk8nT8
                new_status_label: Trial Qualified
                old_status_id: stat_TRuQucMjSlSSV6cGAQixHBNyU2FS9zDyixNguwlfXxu
                old_status_label: Trial
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                updated_by_name: Anthony Nemitz
                user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                user_name: Anthony Nemitz
                users: []
              schema:
                $ref: '#/components/schemas/LeadStatusChangeActivity'
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /activity/status_change/lead/{id}/:
    get:
      operationId: activities.lead_status_changes_get
      tags:
      - activities.lead_status_changes
      summary: Get a single LeadStatusChange activity
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                _type: LeadStatusChange
                activity_at: '2013-08-23T20:57:45.956000+00:00'
                contact_id: null
                created_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                created_by_name: Anthony Nemitz
                date_created: '2013-08-23T20:57:45.956000+00:00'
                date_updated: '2013-08-23T20:57:45.956000+00:00'
                id: acti_jSqoxKYTY522iEfrKfKzqjhw5zP8uS59SQx38KGbbhx
                lead_id: lead_DwJwyY8nynRQicBMFPFccrbAJHT1bxv7t31UiphS9kv
                new_status_id: stat_t7Zd2uspYPvBafR5bu9agrFZFs8GToWIbDnkqSk8nT8
                new_status_label: Trial Qualified
                old_status_id: stat_TRuQucMjSlSSV6cGAQixHBNyU2FS9zDyixNguwlfXxu
                old_status_label: Trial
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                updated_by: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                updated_by_name: Anthony Nemitz
                user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                user_name: Anthony Nemitz
                users: []
              schema:
                $ref: '#/components/schemas/LeadStatusChangeActivity'
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    delete:
      operationId: activities.lead_status_changes_delete
      tags:
      - activities.lead_status_changes
      summary: Delete a single LeadStatusChange activity
      description: 'Deleting a LeadStatusChange does not change the status of the Lead. It only removes the status change event from the Lead''s activity feed.


        It should only be used if the status change is irrelevant (such as records for a change that has been reverted) and having it in the activity feed is causing integration problems with another system.'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
components:
  parameters:
    ActivityFilters_DateCreatedGteParam:
      in: query
      name: date_created__gte
      required: false
      schema:
        title: Date Created (>=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_ActivityAtLteParam:
      in: query
      name: activity_at__lte
      required: false
      schema:
        title: Activity At (<=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_TypeParam:
      description: Filter by activity type, e.g. Call (comma-separated)
      in: query
      name: _type
      required: false
      schema:
        title: Type
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_OrganizationIdParam:
      in: query
      name: organization_id
      required: false
      schema:
        title: Organization ID
        default: null
        anyOf:
        - type: string
        - type: 'null'
    ActivityFilters_LeadIdParam:
      description: Filter by lead IDs (comma-separated)
      in: query
      name: lead_id
      required: false
      schema:
        title: Lead ID
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_ActivityAtLtParam:
      in: query
      name: activity_at__lt
      required: false
      schema:
        title: Activity At (<)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_ActivityAtGteParam:
      in: query
      name: activity_at__gte
      required: false
      schema:
        title: Activity At (>=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_UserIdParam:
      description: Filter by user IDs (comma-separated)
      in: query
      name: user_id
      required: false
      schema:
        title: User ID
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_ContactIdParam:
      description: Filter by contact IDs (comma-separated)
      in: query
      name: contact_id
      required: false
      schema:
        title: Contact ID
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    LimitParam:
      description: Number of results to return.
      in: query
      name: _limit
      required: false
      schema:
        default: 100
        type: integer
    SkipParam:
      description: Number of results to skip before returning, for pagination.
      in: query
      name: _skip
      required: false
      schema:
        default: 0
        type: integer
    ActivityFilters_IdInParam:
      description: Filter by activity IDs (comma-separated)
      in: query
      name: id__in
      required: false
      schema:
        title: ID In
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    FieldsParam:
      description: Comma-separated list of fields to include in the response.
      in: query
      name: _fields
      required: false
      schema:
        type: string
    ActivityFilters_DateCreatedLtParam:
      in: query
      name: date_created__lt
      required: false
      schema:
        title: Date Created (<)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_ActivityAtGtParam:
      in: query
      name: activity_at__gt
      required: false
      schema:
        title: Activity At (>)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_DateCreatedGtParam:
      in: query
      name: date_created__gt
      required: false
      schema:
        title: Date Created (>)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_DateCreatedLteParam:
      in: query
      name: date_created__lte
      required: false
      schema:
        title: Date Created (<=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
  schemas:
    LeadStatusChangeActivity:
      title: LeadStatusChangeActivity
      type: object
      properties:
        _paused_subscriptions:
          title: Paused Subscriptions
          type: array
          items:
            $ref: '#/components/schemas/PausedSubscription'
        _type:
          title: Type
          type: string
        activity_at:
          title: Activity At
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
        contact_id:
          title: Contact ID
          anyOf:
          - type: string
          - type: 'null'
        created_by:
          title: Created By
          anyOf:
          - type: string
          - type: 'null'
        created_by_name:
          title: Created By Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        date_created:
          title: Date Created
          type: string
          format: date-time
        date_updated:
          title: Date Updated
          type: string
          format: date-time
        id:
          title: ID
          type: string
        lead_id:
          title: Lead ID
          anyOf:
          - type: string
          - type: 'null'
        new_status_id:
          title: New Status ID
          type: string
        new_status_label:
          title: New Status Label
          type: string
        old_status_id:
          title: Old Status ID
          type: string
        old_status_label:
          title: Old Status Label
          type: string
        organization_id:
          title: Organization ID
          type: string
        updated_by:
          title: Updated By
          anyOf:
          - type: string
          - type: 'null'
        updated_by_name:
          title: Updated By Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        user_id:
          title: User ID
          anyOf:
          - type: string
          - type: 'null'
        user_name:
          title: User Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        users:
          title: Users
          type: array
          items:
            type: string
      required:
      - _type
      - activity_at
      - contact_id
      - created_by
      - date_created
      - date_updated
      - id
      - lead_id
      - new_status_id
      - old_status_id
      - organization_id
      - updated_by
      - user_id
      - users
    PausedSubscription:
      title: PausedSubscription
      type: object
      properties:
        contact_id:
          title: Contact ID
          anyOf:
          - type: string
          - type: 'null'
        contact_name:
          title: Contact Name
          anyOf:
          - type: string
          - type: 'null'
        id:
          title: ID
          type: string
        sequence_id:
          title: Sequence ID
          type: string
        sequence_name:
          title: Sequence Name
          type: string
        sequence_status:
          title: Sequence Status
          type: string
      required:
      - contact_id
      - contact_name
      - id
      - sequence_id
      - sequence_name
      - sequence_status
  securitySchemes:
    ApiKeyAuth:
      description: Use your API key as the username and leave the password empty.
      scheme: basic
      type: http
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.close.com/oauth2/authorize/
          scopes:
            all.full_access: Full access to all resources
            offline_access: Request a refresh token
          tokenUrl: https://api.close.com/oauth2/token/
      type: oauth2
