openapi: 3.2.0
info:
  description: Close CRM REST API
  title: Close Activities.form Submissions API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: activities.form_submissions
  externalDocs:
    url: https://developer.close.com/api/resources/activities/form-submissions
paths:
  /activity/form_submission/:
    get:
      operationId: activities.form_submissions_list
      tags:
      - activities.form_submissions
      summary: List or filter all FormSubmission activities
      description: Get a list of matching FormSubmission activities. In addition to standard Activity filtering parameters, you can filter by specific form(s) using the `form_id` or `form_id__in` parameters.
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      - $ref: '#/components/parameters/ActivityFilters_IdInParam'
      - $ref: '#/components/parameters/ActivityFilters_LeadIdParam'
      - $ref: '#/components/parameters/ActivityFilters_ContactIdParam'
      - $ref: '#/components/parameters/ActivityFilters_UserIdParam'
      - $ref: '#/components/parameters/ActivityFilters_OrganizationIdParam'
      - $ref: '#/components/parameters/ActivityFilters_TypeParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedGteParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedLteParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedGtParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedLtParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtGteParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtLteParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtGtParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtLtParam'
      - in: query
        name: lead_id__in
        required: false
        schema:
          title: Lead ID (In)
          type: string
      - in: query
        name: user_id__in
        required: false
        schema:
          title: User ID (In)
          type: string
      - in: query
        name: contact_id__in
        required: false
        schema:
          title: Contact ID (In)
          type: string
      - in: query
        name: _type__in
        required: false
        schema:
          title: Type (In)
          type: string
      - in: query
        name: form_id
        required: false
        description: Filter by a specific form ID.
        schema:
          title: Form ID
          default: null
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
      - in: query
        name: form_id__in
        required: false
        description: Filter by multiple form IDs (comma-separated).
        schema:
          title: Form ID (In)
          type: string
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - _type: FormSubmission
                  activity_at: '2025-01-02T10:30:00.000000+00:00'
                  contact_id: cont_q4xYmlGhA3060dEl0NDJuHRxPMuVjqLn30AFSzh1fRk
                  created_by: null
                  created_by_name: null
                  date_created: '2025-01-02T10:30:00.000000+00:00'
                  date_updated: '2025-01-02T10:30:00.000000+00:00'
                  form_configuration_id: formconf_0325NyQ1X3HplqjyP631at
                  form_id: form_0325NAK3KhCZ3EdJfDldRU
                  id: acti_j0fs4KP22Ngn68GE5kInEcC7JWsbJzXthV1A8WtyZEk
                  ip_address: 192.168.1.100
                  lead_id: lead_iuSXNk1x3446ggPVwQS7ynmp8pGRIDieRYiCnuo4yFb
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  origin: https://example.com
                  source_url: https://example.com/contact?utm_source=google&utm_campaign=demo
                  source_url_normalized: example.com/contact
                  updated_by: null
                  updated_by_name: null
                  user_id: null
                  user_name: null
                  users: []
                  values:
                    formfld_0325NAK2ePwMEBJrZZCk5F: John Doe
                    formfld_0325NAK2kjTXTUFwW4i01n: john@example.com
                    formfld_08slbL4D4wR3vOqf28RvhF: true
                  values_by_name: {}
                has_more: false
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/FormSubmissionActivity'
                    type: array
                  has_more:
                    type: boolean
                required:
                - data
                - has_more
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /activity/form_submission/{id}/:
    get:
      operationId: activities.form_submissions_get
      tags:
      - activities.form_submissions
      summary: Get a single FormSubmission activity
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                _type: FormSubmission
                activity_at: '2025-01-02T10:30:00.000000+00:00'
                contact_id: cont_q4xYmlGhA3060dEl0NDJuHRxPMuVjqLn30AFSzh1fRk
                created_by: null
                created_by_name: null
                date_created: '2025-01-02T10:30:00.000000+00:00'
                date_updated: '2025-01-02T10:30:00.000000+00:00'
                form_configuration_id: formconf_0325NyQ1X3HplqjyP631at
                form_id: form_0325NAK3KhCZ3EdJfDldRU
                id: acti_j0fs4KP22Ngn68GE5kInEcC7JWsbJzXthV1A8WtyZEk
                ip_address: 192.168.1.100
                lead_id: lead_iuSXNk1x3446ggPVwQS7ynmp8pGRIDieRYiCnuo4yFb
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                origin: https://example.com
                source_url: https://example.com/contact?utm_source=google&utm_campaign=demo
                source_url_normalized: example.com/contact
                updated_by: null
                updated_by_name: null
                user_id: null
                user_name: null
                users: []
                values:
                  formfld_0325NAK2ePwMEBJrZZCk5F: John Doe
                  formfld_0325NAK2kjTXTUFwW4i01n: john@example.com
                  formfld_08slbL4D4wR3vOqf28RvhF: true
                values_by_name: {}
              schema:
                $ref: '#/components/schemas/FormSubmissionActivity'
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    delete:
      operationId: activities.form_submissions_delete
      tags:
      - activities.form_submissions
      summary: Delete a FormSubmission activity
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
components:
  parameters:
    ActivityFilters_IdInParam:
      description: Filter by activity IDs (comma-separated)
      in: query
      name: id__in
      required: false
      schema:
        title: ID In
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_DateCreatedGteParam:
      in: query
      name: date_created__gte
      required: false
      schema:
        title: Date Created (>=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    FieldsParam:
      description: Comma-separated list of fields to include in the response.
      in: query
      name: _fields
      required: false
      schema:
        type: string
    ActivityFilters_ActivityAtLteParam:
      in: query
      name: activity_at__lte
      required: false
      schema:
        title: Activity At (<=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_ActivityAtGtParam:
      in: query
      name: activity_at__gt
      required: false
      schema:
        title: Activity At (>)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_DateCreatedLtParam:
      in: query
      name: date_created__lt
      required: false
      schema:
        title: Date Created (<)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_UserIdParam:
      description: Filter by user IDs (comma-separated)
      in: query
      name: user_id
      required: false
      schema:
        title: User ID
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_DateCreatedGtParam:
      in: query
      name: date_created__gt
      required: false
      schema:
        title: Date Created (>)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_ContactIdParam:
      description: Filter by contact IDs (comma-separated)
      in: query
      name: contact_id
      required: false
      schema:
        title: Contact ID
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_TypeParam:
      description: Filter by activity type, e.g. Call (comma-separated)
      in: query
      name: _type
      required: false
      schema:
        title: Type
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_OrganizationIdParam:
      in: query
      name: organization_id
      required: false
      schema:
        title: Organization ID
        default: null
        anyOf:
        - type: string
        - type: 'null'
    ActivityFilters_LeadIdParam:
      description: Filter by lead IDs (comma-separated)
      in: query
      name: lead_id
      required: false
      schema:
        title: Lead ID
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_ActivityAtLtParam:
      in: query
      name: activity_at__lt
      required: false
      schema:
        title: Activity At (<)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_ActivityAtGteParam:
      in: query
      name: activity_at__gte
      required: false
      schema:
        title: Activity At (>=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    LimitParam:
      description: Number of results to return.
      in: query
      name: _limit
      required: false
      schema:
        default: 100
        type: integer
    ActivityFilters_DateCreatedLteParam:
      in: query
      name: date_created__lte
      required: false
      schema:
        title: Date Created (<=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    SkipParam:
      description: Number of results to skip before returning, for pagination.
      in: query
      name: _skip
      required: false
      schema:
        default: 0
        type: integer
  schemas:
    FormSubmissionActivity:
      title: FormSubmissionActivity
      type: object
      properties:
        _type:
          title: Type
          type: string
        activity_at:
          title: Activity At
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
        contact_id:
          title: Contact ID
          anyOf:
          - type: string
          - type: 'null'
        created_by:
          title: Created By
          anyOf:
          - type: string
          - type: 'null'
        created_by_name:
          title: Created By Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        date_created:
          title: Date Created
          type: string
          format: date-time
        date_updated:
          title: Date Updated
          type: string
          format: date-time
        form_configuration_id:
          title: Form Configuration ID
          type: string
        form_id:
          title: Form ID
          type: string
        form_name:
          title: Form Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        id:
          title: ID
          type: string
        ip_address:
          title: Ip Address
          anyOf:
          - type: string
          - type: 'null'
        lead_id:
          title: Lead ID
          anyOf:
          - type: string
          - type: 'null'
        organization_id:
          title: Organization ID
          type: string
        origin:
          title: Origin
          anyOf:
          - type: string
          - type: 'null'
        source_url:
          title: Source URL
          anyOf:
          - type: string
          - type: 'null'
        source_url_normalized:
          title: Source URL Normalized
          anyOf:
          - type: string
          - type: 'null'
        updated_by:
          title: Updated By
          anyOf:
          - type: string
          - type: 'null'
        updated_by_name:
          title: Updated By Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        user_id:
          title: User ID
          anyOf:
          - type: string
          - type: 'null'
        user_name:
          title: User Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        users:
          title: Users
          type: array
          items:
            type: string
        values:
          title: Values
          type: object
          additionalProperties:
            anyOf:
            - type: string
            - type: boolean
            - type: 'null'
        values_by_name:
          title: Values By Name
          type: object
          additionalProperties:
            anyOf:
            - type: string
            - type: boolean
            - type: 'null'
      required:
      - _type
      - activity_at
      - contact_id
      - created_by
      - date_created
      - date_updated
      - form_configuration_id
      - form_id
      - id
      - ip_address
      - lead_id
      - organization_id
      - origin
      - source_url
      - source_url_normalized
      - updated_by
      - user_id
      - users
      - values
      - values_by_name
  securitySchemes:
    ApiKeyAuth:
      description: Use your API key as the username and leave the password empty.
      scheme: basic
      type: http
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.close.com/oauth2/authorize/
          scopes:
            all.full_access: Full access to all resources
            offline_access: Request a refresh token
          tokenUrl: https://api.close.com/oauth2/token/
      type: oauth2
