openapi: 3.1.0
info:
  title: API Endpoints subpackage_activities subpackage_activitiesEmailThreads API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
tags:
- name: subpackage_activitiesEmailThreads
paths:
  /activity/emailthread/:
    get:
      operationId: list
      summary: List or filter all EmailThread activities
      description: You'll get one object per email conversation (generally grouped by subject).
      tags:
      - subpackage_activitiesEmailThreads
      parameters:
      - name: _limit
        in: query
        description: Number of results to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: _skip
        in: query
        description: Number of results to skip before returning, for pagination.
        required: false
        schema:
          type: integer
          default: 0
      - name: id__in
        in: query
        description: Filter by activity IDs (comma-separated)
        required: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
      - name: lead_id
        in: query
        description: Filter by lead IDs (comma-separated)
        required: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
      - name: contact_id
        in: query
        description: Filter by contact IDs (comma-separated)
        required: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
      - name: user_id
        in: query
        description: Filter by user IDs (comma-separated)
        required: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
      - name: organization_id
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: _type
        in: query
        description: Filter by activity type, e.g. Call (comma-separated)
        required: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
      - name: date_created__gte
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityEmailthreadGetParametersDateCreatedGte'
      - name: date_created__lte
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityEmailthreadGetParametersDateCreatedLte'
      - name: date_created__gt
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityEmailthreadGetParametersDateCreatedGt'
      - name: date_created__lt
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityEmailthreadGetParametersDateCreatedLt'
      - name: activity_at__gte
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityEmailthreadGetParametersActivityAtGte'
      - name: activity_at__lte
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityEmailthreadGetParametersActivityAtLte'
      - name: activity_at__gt
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityEmailthreadGetParametersActivityAtGt'
      - name: activity_at__lt
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityEmailthreadGetParametersActivityAtLt'
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activities.email_threads_list_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
  /activity/emailthread/{id}/:
    get:
      operationId: get
      summary: Get a single EmailThread activity
      tags:
      - subpackage_activitiesEmailThreads
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activities.email_threads_get_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
    delete:
      operationId: delete
      summary: Delete an EmailThread activity
      description: This will also delete all the email activities belonging to this thread.
      tags:
      - subpackage_activitiesEmailThreads
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activities.email_threads_delete_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
components:
  schemas:
    activities.email_threads_list_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: activities.email_threads_list_Response_200
    activities.email_threads_get_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: activities.email_threads_get_Response_200
    ActivityEmailthreadGetParametersActivityAtLt:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityEmailthreadGetParametersActivityAtLt
    ActivityEmailthreadGetParametersDateCreatedLte:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityEmailthreadGetParametersDateCreatedLte
    ActivityEmailthreadGetParametersActivityAtLte:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityEmailthreadGetParametersActivityAtLte
    ActivityEmailthreadGetParametersActivityAtGte:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityEmailthreadGetParametersActivityAtGte
    ActivityEmailthreadGetParametersDateCreatedGte:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityEmailthreadGetParametersDateCreatedGte
    ActivityEmailthreadGetParametersActivityAtGt:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityEmailthreadGetParametersActivityAtGt
    activities.email_threads_delete_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: activities.email_threads_delete_Response_200
    ActivityEmailthreadGetParametersDateCreatedGt:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityEmailthreadGetParametersDateCreatedGt
    ActivityEmailthreadGetParametersDateCreatedLt:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityEmailthreadGetParametersDateCreatedLt
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: basic
      description: Use your API key as the username and leave the password empty.
    OAuth2:
      type: http
      scheme: bearer
