openapi: 3.1.0
info:
  title: API Endpoints subpackage_activities subpackage_leadStatuses API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
tags:
- name: subpackage_leadStatuses
paths:
  /status/lead/:
    get:
      operationId: list
      summary: List lead statuses for your organization
      tags:
      - subpackage_leadStatuses
      parameters:
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lead_statuses_list_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
    post:
      operationId: create
      summary: Create a new status that can be applied to leads
      tags:
      - subpackage_leadStatuses
      parameters:
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lead_statuses_create_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              description: Any type
  /status/lead/{id}/:
    put:
      operationId: update
      summary: Rename a lead status
      description: Update a lead status. The `label` and `color` can be changed. To update the status of a particular lead, see PUT `/lead/{lead_id}/`.
      tags:
      - subpackage_leadStatuses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lead_statuses_update_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              description: Any type
    delete:
      operationId: delete
      summary: Delete a lead status
      description: You should make sure no leads are assigned this status, first.
      tags:
      - subpackage_leadStatuses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lead_statuses_delete_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
components:
  schemas:
    lead_statuses_create_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: lead_statuses_create_Response_200
    lead_statuses_delete_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: lead_statuses_delete_Response_200
    lead_statuses_update_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: lead_statuses_update_Response_200
    lead_statuses_list_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: lead_statuses_list_Response_200
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: basic
      description: Use your API key as the username and leave the password empty.
    OAuth2:
      type: http
      scheme: bearer
