openapi: 3.2.0
info:
  description: Close CRM REST API
  title: Close Activities.email Threads API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: activities.email_threads
  externalDocs:
    url: https://developer.close.com/api/resources/activities/email-threads
paths:
  /activity/emailthread/:
    get:
      operationId: activities.email_threads_list
      tags:
      - activities.email_threads
      summary: List or filter all EmailThread activities
      description: You'll get one object per email conversation (generally grouped by subject).
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SkipParam'
      - $ref: '#/components/parameters/ActivityFilters_IdInParam'
      - $ref: '#/components/parameters/ActivityFilters_LeadIdParam'
      - $ref: '#/components/parameters/ActivityFilters_ContactIdParam'
      - $ref: '#/components/parameters/ActivityFilters_UserIdParam'
      - $ref: '#/components/parameters/ActivityFilters_OrganizationIdParam'
      - $ref: '#/components/parameters/ActivityFilters_TypeParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedGteParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedLteParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedGtParam'
      - $ref: '#/components/parameters/ActivityFilters_DateCreatedLtParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtGteParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtLteParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtGtParam'
      - $ref: '#/components/parameters/ActivityFilters_ActivityAtLtParam'
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - _type: EmailThread
                  activity_at: '2014-12-07T04:10:46+00:00'
                  contact_id: null
                  created_by: null
                  created_by_name: null
                  date_created: '2014-12-07T04:10:46+00:00'
                  date_updated: '2014-12-07T04:11:00.476000+00:00'
                  emails:
                  - _type: Email
                    activity_at: '2014-12-07T04:10:46+00:00'
                    attachments: []
                    bcc: []
                    body_preview: 'Hey Karen,


                      Thanks for signing up for Close. My name is Steli Efti and I''m

                      the CEO of Close. Please let me know if I can do anything to

                      help make your trial into a massive success.


                      Additi'
                    bulk_email_action_id: null
                    cc: []
                    contact_id: cont_alksdjfalksdfj8NzQM56BzBZ8X2GWaowuifsOeWyeJ
                    created_by: null
                    created_by_name: null
                    date_created: '2014-12-07T04:10:46+00:00'
                    date_scheduled: null
                    date_sent: '2014-12-07T04:10:46+00:00'
                    date_updated: '2014-12-07T04:11:00.459000+00:00'
                    direction: outgoing
                    email_account_id: emailacct_aslkdjfalksjdfCmLShmuvlPMFy7Ze61FVeEj1VXnlG
                    envelope:
                      bcc: []
                      cc: []
                      date: Sun, 07 Dec 2014 04:10:46 +0000
                      from:
                      - email: steli@close.com
                        name: Steli Efti
                      in_reply_to: null
                      message_id: <5483d346af89c_c0031a60fdc11130711c@ns5001546.ip-192-95-32.net.mail>
                      reply_to: []
                      sender:
                      - email: steli@close.com
                        name: Steli Efti
                      subject: Excited to have you on board!
                      to:
                      - email: karen@example.com
                        name: null
                    followup_sequence_add_cc_bcc: false
                    followup_sequence_delay: null
                    has_reply: false
                    id: acti_12342j3451lk25iH1Rrtk9LWxwpUZmHygjww4c5iFw4
                    in_reply_to_id: null
                    lead_id: lead_5cIz6MHYMYEJLDTJRzoyfLHAMymuWlPweEMvslHoBf5
                    message_ids:
                    - <5483d346af89c_c0031a60fdc11130711c@ns5001546.ip-192-95-32.net.mail>
                    need_smtp_credentials: false
                    opens: []
                    opens_summary: null
                    organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                    references: []
                    send_as_id: null
                    send_attempts: []
                    sender: Steli Efti <steli@close.com>
                    sequence_id: seq_1BTljGuCooX0nbFoPihl07
                    sequence_name: My Sequence
                    sequence_subscription_id: sub_wRlAku35U53xEV7PcNY3Qo
                    status: sent
                    subject: Excited to have you on board!
                    template_id: null
                    template_name: null
                    thread_id: acti_giHHCV8uOniX2wuFmKY14VWqOEq5zXxWi6FQL88MoNH
                    to:
                    - karen@example.com
                    updated_by: null
                    updated_by_name: null
                    user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                    user_name: Steli Efti
                    users: []
                  - _type: Email
                    activity_at: '2014-11-28T17:26:00+00:00'
                    attachments: []
                    bcc: []
                    body_preview: 'Hey Carlos,


                      Thanks for signing up for Close. My name is Steli Efti and I''m

                      the CEO of Close. Please let me know if I can do anything to

                      help make your trial into a massive success.


                      Addit'
                    bulk_email_action_id: null
                    cc: []
                    contact_id: cont_Hw4160e5c61QoFpEkvbUeGYJ0uDMLODYfrBRLWDFHh6
                    created_by: null
                    created_by_name: null
                    date_created: '2014-11-28T17:26:00+00:00'
                    date_scheduled: null
                    date_sent: '2014-11-28T17:26:00+00:00'
                    date_updated: '2014-11-28T17:26:47.740000+00:00'
                    direction: outgoing
                    email_account_id: emailacct_eLq7Zxa3CPKgapCmLShmuvlPMFy7Ze61FVeEj1VXnlG
                    envelope:
                      bcc: []
                      cc: []
                      date: Fri, 28 Nov 2014 17:26:00 +0000
                      from:
                      - email: steli@close.com
                        name: Steli Efti
                      in_reply_to: null
                      message_id: <5478b0283055a_724e3fb94e13cb5c60513397@ns5001376.ip-192-95-32.net.mail>
                      reply_to: []
                      sender:
                      - email: steli@close.com
                        name: Steli Efti
                      subject: Excited to have you on board!
                      to:
                      - email: carlos@abc.com
                        name: null
                    followup_sequence_add_cc_bcc: false
                    followup_sequence_delay: null
                    has_reply: false
                    id: acti_3ANoOJE7DkTwxG9s1TY3SP3VhiJFeua3gt85nuzb0by
                    in_reply_to_id: null
                    lead_id: lead_5cIz6MHYMYEJLDTJRzoyfLHAMymuWlPweEMvslHoBf5
                    message_ids:
                    - <5478b0283055a_724e3fb94e13cb5c60513397@ns5001376.ip-192-95-32.net.mail>
                    need_smtp_credentials: false
                    opens: []
                    opens_summary: null
                    organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                    references: []
                    send_as_id: null
                    send_attempts: []
                    sender: Steli Efti <steli@close.com>
                    sequence_id: null
                    sequence_name: null
                    sequence_subscription_id: null
                    status: sent
                    subject: Excited to have you on board!
                    template_id: null
                    template_name: null
                    thread_id: acti_giHHCV8uOniX2wuFmKY14VWqOEq5zXxWi6FQL88MoNH
                    to:
                    - carlos@abc.com
                    updated_by: null
                    updated_by_name: null
                    user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                    user_name: Steli Efti
                    users: []
                  - _type: Email
                    activity_at: '2014-11-26T10:15:44+00:00'
                    attachments: []
                    bcc: []
                    body_preview: 'Hey TrueAccord,


                      Thanks for signing up for Close. My name is Steli Efti and I''m

                      the CEO of Close. Please let me know if I can do anything to

                      help make your trial into a massive success.


                      A'
                    bulk_email_action_id: null
                    cc: []
                    contact_id: cont_6d0dRVHWGMvsJLFjAms1xTL0LCeQoRVWyZtpQs0Y98S
                    created_by: null
                    created_by_name: null
                    date_created: '2014-11-26T10:15:44+00:00'
                    date_scheduled: null
                    date_sent: '2014-11-26T10:15:44+00:00'
                    date_updated: '2014-11-26T10:17:58.234000+00:00'
                    direction: outgoing
                    email_account_id: emailacct_eLq7Zxa3CPKgapCmLShmuvlPMFy7Ze61FVeEj1VXnlG
                    envelope:
                      bcc: []
                      cc: []
                      date: Wed, 26 Nov 2014 10:15:44 +0000
                      from:
                      - email: steli@close.com
                        name: Steli Efti
                      in_reply_to: null
                      message_id: <5475a850a030a_620f1ba3e246281806c1@ns5000834.ip-142-4-219.net.mail>
                      reply_to: []
                      sender:
                      - email: steli@close.com
                        name: Steli Efti
                      subject: Excited to have you on board!
                      to:
                      - email: ohad@trueaccord.com
                        name: null
                    followup_sequence_add_cc_bcc: false
                    followup_sequence_delay: null
                    has_reply: false
                    id: acti_lcAFcE1n7vbkjtlcwpSSLGpheZKBSrmrPFcCM9S13q0
                    in_reply_to_id: null
                    lead_id: lead_5cIz6MHYMYEJLDTJRzoyfLHAMymuWlPweEMvslHoBf5
                    message_ids:
                    - <5475a850a030a_620f1ba3e246281806c1@ns5000834.ip-142-4-219.net.mail>
                    need_smtp_credentials: false
                    opens: []
                    opens_summary: null
                    organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                    references: []
                    send_as_id: null
                    send_attempts: []
                    sender: Steli Efti <steli@close.com>
                    sequence_id: null
                    sequence_name: null
                    sequence_subscription_id: null
                    status: sent
                    subject: Excited to have you on board!
                    template_id: null
                    template_name: null
                    thread_id: acti_giHHCV8uOniX2wuFmKY14VWqOEq5zXxWi6FQL88MoNH
                    to:
                    - ohad@abc.com
                    updated_by: null
                    updated_by_name: null
                    user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                    user_name: Steli Efti
                    users: []
                  id: acti_giHHCV8uOnialksjdflaksjdflq5zXxWi6FQL88MoNH
                  latest_normalized_subject: Excited to have you on board!
                  lead_id: lead_5cIz6MHYMYEJLDTJRzoyfLHAMymuWlPweEMvslHoBf5
                  n_emails: 3
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  participants:
                  - email: steli@close.com
                    name: Steli Efti
                  updated_by: null
                  updated_by_name: null
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  user_name: Steli Efti
                  users:
                  - user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                has_more: false
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/EmailThreadActivity'
                    type: array
                  has_more:
                    type: boolean
                required:
                - data
                - has_more
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /activity/emailthread/{id}/:
    get:
      operationId: activities.email_threads_get
      tags:
      - activities.email_threads
      summary: Get a single EmailThread activity
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/FieldsParam'
      responses:
        '200':
          content:
            application/json:
              example:
                _type: EmailThread
                activity_at: '2014-12-07T04:10:46+00:00'
                contact_id: null
                created_by: null
                created_by_name: null
                date_created: '2014-12-07T04:10:46+00:00'
                date_updated: '2014-12-07T04:11:00.476000+00:00'
                emails:
                - _type: Email
                  activity_at: '2014-12-07T04:10:46+00:00'
                  attachments: []
                  bcc: []
                  body_preview: 'Hey Karen,


                    Thanks for signing up for Close. My name is Steli Efti and I''m

                    the CEO of Close. Please let me know if I can do anything to

                    help make your trial into a massive success.


                    Additi'
                  bulk_email_action_id: null
                  cc: []
                  contact_id: cont_alksdjfalksdfj8NzQM56BzBZ8X2GWaowuifsOeWyeJ
                  created_by: null
                  created_by_name: null
                  date_created: '2014-12-07T04:10:46+00:00'
                  date_scheduled: null
                  date_sent: '2014-12-07T04:10:46+00:00'
                  date_updated: '2014-12-07T04:11:00.459000+00:00'
                  direction: outgoing
                  email_account_id: emailacct_aslkdjfalksjdfCmLShmuvlPMFy7Ze61FVeEj1VXnlG
                  envelope:
                    bcc: []
                    cc: []
                    date: Sun, 07 Dec 2014 04:10:46 +0000
                    from:
                    - email: steli@close.com
                      name: Steli Efti
                    in_reply_to: null
                    message_id: <5483d346af89c_c0031a60fdc11130711c@ns5001546.ip-192-95-32.net.mail>
                    reply_to: []
                    sender:
                    - email: steli@close.com
                      name: Steli Efti
                    subject: Excited to have you on board!
                    to:
                    - email: karen@example.com
                      name: null
                  followup_sequence_add_cc_bcc: false
                  followup_sequence_delay: null
                  has_reply: false
                  id: acti_12342j3451lk25iH1Rrtk9LWxwpUZmHygjww4c5iFw4
                  in_reply_to_id: null
                  lead_id: lead_5cIz6MHYMYEJLDTJRzoyfLHAMymuWlPweEMvslHoBf5
                  message_ids:
                  - <5483d346af89c_c0031a60fdc11130711c@ns5001546.ip-192-95-32.net.mail>
                  need_smtp_credentials: false
                  opens: []
                  opens_summary: null
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  references: []
                  send_as_id: null
                  send_attempts: []
                  sender: Steli Efti <steli@close.com>
                  sequence_id: seq_1BTljGuCooX0nbFoPihl07
                  sequence_name: My Sequence
                  sequence_subscription_id: sub_wRlAku35U53xEV7PcNY3Qo
                  status: sent
                  subject: Excited to have you on board!
                  template_id: null
                  template_name: null
                  thread_id: acti_giHHCV8uOniX2wuFmKY14VWqOEq5zXxWi6FQL88MoNH
                  to:
                  - karen@example.com
                  updated_by: null
                  updated_by_name: null
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  user_name: Steli Efti
                  users: []
                - _type: Email
                  activity_at: '2014-11-28T17:26:00+00:00'
                  attachments: []
                  bcc: []
                  body_preview: 'Hey Carlos,


                    Thanks for signing up for Close. My name is Steli Efti and I''m

                    the CEO of Close. Please let me know if I can do anything to

                    help make your trial into a massive success.


                    Addit'
                  bulk_email_action_id: null
                  cc: []
                  contact_id: cont_Hw4160e5c61QoFpEkvbUeGYJ0uDMLODYfrBRLWDFHh6
                  created_by: null
                  created_by_name: null
                  date_created: '2014-11-28T17:26:00+00:00'
                  date_scheduled: null
                  date_sent: '2014-11-28T17:26:00+00:00'
                  date_updated: '2014-11-28T17:26:47.740000+00:00'
                  direction: outgoing
                  email_account_id: emailacct_eLq7Zxa3CPKgapCmLShmuvlPMFy7Ze61FVeEj1VXnlG
                  envelope:
                    bcc: []
                    cc: []
                    date: Fri, 28 Nov 2014 17:26:00 +0000
                    from:
                    - email: steli@close.com
                      name: Steli Efti
                    in_reply_to: null
                    message_id: <5478b0283055a_724e3fb94e13cb5c60513397@ns5001376.ip-192-95-32.net.mail>
                    reply_to: []
                    sender:
                    - email: steli@close.com
                      name: Steli Efti
                    subject: Excited to have you on board!
                    to:
                    - email: carlos@abc.com
                      name: null
                  followup_sequence_add_cc_bcc: false
                  followup_sequence_delay: null
                  has_reply: false
                  id: acti_3ANoOJE7DkTwxG9s1TY3SP3VhiJFeua3gt85nuzb0by
                  in_reply_to_id: null
                  lead_id: lead_5cIz6MHYMYEJLDTJRzoyfLHAMymuWlPweEMvslHoBf5
                  message_ids:
                  - <5478b0283055a_724e3fb94e13cb5c60513397@ns5001376.ip-192-95-32.net.mail>
                  need_smtp_credentials: false
                  opens: []
                  opens_summary: null
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  references: []
                  send_as_id: null
                  send_attempts: []
                  sender: Steli Efti <steli@close.com>
                  sequence_id: null
                  sequence_name: null
                  sequence_subscription_id: null
                  status: sent
                  subject: Excited to have you on board!
                  template_id: null
                  template_name: null
                  thread_id: acti_giHHCV8uOniX2wuFmKY14VWqOEq5zXxWi6FQL88MoNH
                  to:
                  - carlos@abc.com
                  updated_by: null
                  updated_by_name: null
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  user_name: Steli Efti
                  users: []
                - _type: Email
                  activity_at: '2014-11-26T10:15:44+00:00'
                  attachments: []
                  bcc: []
                  body_preview: 'Hey TrueAccord,


                    Thanks for signing up for Close. My name is Steli Efti and I''m

                    the CEO of Close. Please let me know if I can do anything to

                    help make your trial into a massive success.


                    A'
                  bulk_email_action_id: null
                  cc: []
                  contact_id: cont_6d0dRVHWGMvsJLFjAms1xTL0LCeQoRVWyZtpQs0Y98S
                  created_by: null
                  created_by_name: null
                  date_created: '2014-11-26T10:15:44+00:00'
                  date_scheduled: null
                  date_sent: '2014-11-26T10:15:44+00:00'
                  date_updated: '2014-11-26T10:17:58.234000+00:00'
                  direction: outgoing
                  email_account_id: emailacct_eLq7Zxa3CPKgapCmLShmuvlPMFy7Ze61FVeEj1VXnlG
                  envelope:
                    bcc: []
                    cc: []
                    date: Wed, 26 Nov 2014 10:15:44 +0000
                    from:
                    - email: steli@close.com
                      name: Steli Efti
                    in_reply_to: null
                    message_id: <5475a850a030a_620f1ba3e246281806c1@ns5000834.ip-142-4-219.net.mail>
                    reply_to: []
                    sender:
                    - email: steli@close.com
                      name: Steli Efti
                    subject: Excited to have you on board!
                    to:
                    - email: ohad@trueaccord.com
                      name: null
                  followup_sequence_add_cc_bcc: false
                  followup_sequence_delay: null
                  has_reply: false
                  id: acti_lcAFcE1n7vbkjtlcwpSSLGpheZKBSrmrPFcCM9S13q0
                  in_reply_to_id: null
                  lead_id: lead_5cIz6MHYMYEJLDTJRzoyfLHAMymuWlPweEMvslHoBf5
                  message_ids:
                  - <5475a850a030a_620f1ba3e246281806c1@ns5000834.ip-142-4-219.net.mail>
                  need_smtp_credentials: false
                  opens: []
                  opens_summary: null
                  organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                  references: []
                  send_as_id: null
                  send_attempts: []
                  sender: Steli Efti <steli@close.com>
                  sequence_id: null
                  sequence_name: null
                  sequence_subscription_id: null
                  status: sent
                  subject: Excited to have you on board!
                  template_id: null
                  template_name: null
                  thread_id: acti_giHHCV8uOniX2wuFmKY14VWqOEq5zXxWi6FQL88MoNH
                  to:
                  - ohad@abc.com
                  updated_by: null
                  updated_by_name: null
                  user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                  user_name: Steli Efti
                  users: []
                id: acti_giHHCV8uOnialksjdflaksjdflq5zXxWi6FQL88MoNH
                latest_normalized_subject: Excited to have you on board!
                lead_id: lead_5cIz6MHYMYEJLDTJRzoyfLHAMymuWlPweEMvslHoBf5
                n_emails: 3
                organization_id: orga_RbREgmiiwcr1w2b4cOnCMQaQPSIFxMqAD2Dh243uxcH
                participants:
                - email: steli@close.com
                  name: Steli Efti
                updated_by: null
                updated_by_name: null
                user_id: user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
                user_name: Steli Efti
                users:
                - user_N6KhMpzHRCYQHdn4gRNIFNN5JExnsrprKA6ekxM63XA
              schema:
                $ref: '#/components/schemas/EmailThreadActivity'
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
    delete:
      operationId: activities.email_threads_delete
      tags:
      - activities.email_threads
      summary: Delete an EmailThread activity
      description: This will also delete all the email activities belonging to this thread.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
components:
  schemas:
    QuotedEmailHTML:
      title: QuotedEmailHTML
      type: object
      properties:
        expand:
          title: Expand
          type: boolean
        html:
          title: HTML
          type: string
      required:
      - expand
      - html
    EmailOpen:
      title: EmailOpen
      type: object
      properties:
        ip_address:
          title: Ip Address
          anyOf:
          - type: string
          - type: 'null'
        opened_at:
          title: Opened At
          type: string
          format: date-time
        opened_by:
          title: Opened By
          anyOf:
          - type: string
          - type: 'null'
        user_agent:
          title: User Agent
          anyOf:
          - type: string
          - type: 'null'
      required:
      - ip_address
      - opened_at
      - opened_by
      - user_agent
    NotImportantThreadReason:
      title: NotImportantThreadReason
      type: string
      enum:
      - manual
      - scheduling-emails
      - automated-outbound
      - marketing-or-transactional
      - by-default
    ImportantThreadReason:
      title: ImportantThreadReason
      type: string
      enum:
      - manual
      - contains-manual-message
      - most-recent-communication
      - has-response
      - whitelisted
      - by-default
      - unset-initial-default
    QuotedEmailText:
      title: QuotedEmailText
      type: object
      properties:
        expand:
          title: Expand
          type: boolean
        text:
          title: Text
          type: string
      required:
      - expand
      - text
    SummaryFeedbackRating:
      title: SummaryFeedbackRating
      type: string
      enum:
      - positive
      - negative
    EmailIdentity:
      title: EmailIdentity
      type: object
      properties:
        email:
          title: Email
          type: string
        name:
          title: Name
          type: string
      required:
      - email
      - name
    EmailThreadActivity:
      title: EmailThreadActivity
      type: object
      properties:
        _type:
          title: Type
          type: string
        activity_at:
          title: Activity At
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
        comment_summary:
          title: Comment Summary
          anyOf:
          - $ref: '#/components/schemas/CommentSummary'
          - type: 'null'
        contact_id:
          title: Contact ID
          anyOf:
          - type: string
          - type: 'null'
        created_by:
          title: Created By
          anyOf:
          - type: string
          - type: 'null'
        created_by_name:
          title: Created By Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        date_created:
          title: Date Created
          type: string
          format: date-time
        date_updated:
          title: Date Updated
          type: string
          format: date-time
        emails:
          title: Emails
          type: array
          items:
            $ref: '#/components/schemas/EmailInThread'
        id:
          title: ID
          type: string
        importance:
          title: Importance
          anyOf:
          - $ref: '#/components/schemas/ImportantEmailThread'
          - $ref: '#/components/schemas/NotImportantEmailThread'
        latest_emails:
          title: Latest Emails
          type: array
          items:
            $ref: '#/components/schemas/EmailPreview'
        latest_normalized_subject:
          title: Latest Normalized Subject
          anyOf:
          - type: string
          - type: 'null'
        lead_id:
          title: Lead ID
          anyOf:
          - type: string
          - type: 'null'
        n_emails:
          title: Number of Emails
          anyOf:
          - type: integer
          - type: 'null'
        organization_id:
          title: Organization ID
          type: string
        participants:
          title: Participants
          type: array
          items:
            $ref: '#/components/schemas/EmailIdentity'
        summary:
          title: Summary
          anyOf:
          - $ref: '#/components/schemas/EmailThreadSummary'
          - type: 'null'
        updated_by:
          title: Updated By
          anyOf:
          - type: string
          - type: 'null'
        updated_by_name:
          title: Updated By Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        user_id:
          title: User ID
          anyOf:
          - type: string
          - type: 'null'
        user_name:
          title: User Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        users:
          title: Users
          type: array
          items:
            type: string
      required:
      - _type
      - activity_at
      - contact_id
      - created_by
      - date_created
      - date_updated
      - id
      - latest_normalized_subject
      - lead_id
      - n_emails
      - organization_id
      - updated_by
      - user_id
      - users
    NotImportantEmailThread:
      title: NotImportantEmailThread
      type: object
      properties:
        reason:
          $ref: '#/components/schemas/NotImportantThreadReason'
        type:
          title: Type
          type: string
          const: not_important
      required:
      - reason
      - type
    SummaryStatus:
      title: SummaryStatus
      type: string
      enum:
      - pending
      - success
      - failure
      - expired
    CommentSummary:
      title: CommentSummary
      type: object
      properties:
        comment_count:
          title: Comment Count
          type: integer
        thread_id:
          title: Thread ID
          type: string
      required:
      - comment_count
      - thread_id
    CommunicationDirection:
      title: CommunicationDirection
      description: Direction of communication. Outgoing means the communication flowing from the user to the lead/contact. Inbound means the opposite.
      type: string
      enum:
      - incoming
      - outgoing
    EmailThreadSummaryFeedback:
      title: EmailThreadSummaryFeedback
      type: object
      properties:
        detail:
          title: Detail
          anyOf:
          - type: string
          - type: 'null'
        given_at:
          title: Given At
          type: string
          format: date-time
        rating:
          $ref: '#/components/schemas/SummaryFeedbackRating'
      required:
      - detail
      - given_at
      - rating
    EmailInThread:
      title: EmailInThread
      type: object
      properties:
        _type:
          title: Type
          type: string
        activity_at:
          title: Activity At
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
        agent_action_reason:
          title: Agent Action Reason
          default: null
          anyOf:
          - type: string
          - type: 'null'
        agent_config_id:
          title: Agent Config ID
          default: null
          anyOf:
          - type: string
          - type: 'null'
        ai_draft:
          title: Ai Draft
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
        attachments:
          title: Attachments
          default: null
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/Attachment'
          - type: 'null'
        bcc:
          title: Bcc
          type: array
          items:
            type: string
        body_html:
          title: Body HTML
          anyOf:
          - type: string
          - type: 'null'
        body_html_quoted:
          title: Body HTML Quoted
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/QuotedEmailHTML'
          - type: 'null'
        body_preview:
          title: Body Preview
          default: null
          anyOf:
          - type: string
          - type: 'null'
        body_text:
          title: Body Text
          anyOf:
          - type: string
          - type: 'null'
        body_text_quoted:
          title: Body Text Quoted
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/QuotedEmailText'
          - type: 'null'
        bulk_email_action_id:
          title: Bulk Email Action ID
          anyOf:
          - type: string
          - type: 'null'
        cc:
          title: Cc
          type: array
          items:
            type: string
        contact_id:
          title: Contact ID
          anyOf:
          - type: string
          - type: 'null'
        created_by:
          title: Created By
          anyOf:
          - type: string
          - type: 'null'
        created_by_name:
          title: Created By Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        date_created:
          title: Date Created
          type: string
          format: date-time
        date_scheduled:
          title: Date Scheduled
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
        date_sent:
          title: Date Sent
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
        date_updated:
          title: Date Updated
          type: string
          format: date-time
        direction:
          anyOf:
          - $ref: '#/components/schemas/CommunicationDirection'
          - type: 'null'
        email_account_id:
          title: Email Account ID
          default: null
          anyOf:
          - type: string
          - type: 'null'
        envelope:
          title: Envelope
          default: null
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
        followup_sequence_add_cc_bcc:
          title: Followup Sequence Add Cc Bcc
          type: boolean
        followup_sequence_delay:
          title: Followup Sequence Delay
          anyOf:
          - type: integer
          - type: 'null'
        followup_sequence_id:
          title: Followup Sequence ID
          default: null
          anyOf:
          - type: string
          - type: 'null'
        has_reply:
          title: Has Reply
          type: boolean
        id:
          title: ID
          type: string
        in_reply_to_id:
          title: In Reply To ID
          anyOf:
          - type: string
          - type: 'null'
        lead_id:
          title: Lead ID
          anyOf:
          - type: string
          - type: 'null'
        message_ids:
          title: Message IDs
          type: array
          items:
            type: string
        need_smtp_credentials:
          title: Need Smtp Credentials
          type: boolean
        opens:
          title: Opens
          default: null
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/EmailOpen'
          - type: 'null'
        opens_summary:
          title: Opens Summary
          anyOf:
          - type: string
          - type: 'null'
        organization_id:
          title: Organization ID
          type: string
        references:
          title: References
          type: array
          items:
            type: string
        send_as_id:
          title: Send As ID
          anyOf:
          - type: string
          - type: 'null'
        send_attempts:
          title: Send Attempts
          default: null
          anyOf:
          - type: array
            items:
              type: object
              additionalProperties:
                type: string
          - type: 'null'
        sender:
          title: Sender
          anyOf:
          - type: string
          - type: 'null'
        sequence_id:
          title: Sequence ID
          default: null
          anyOf:
          - type: string
          - type: 'null'
        sequence_name:
          title: Sequence Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        sequence_subscription_id:
          title: Sequence Subscription ID
          default: null
          anyOf:
          - type: string
          - type: 'null'
        status:
          $ref: '#/components/schemas/MessageStatus'
        subject:
          title: Subject
          anyOf:
          - type: string
          - type: 'null'
        template_id:
          title: Template ID
          anyOf:
          - type: string
          - type: 'null'
        template_name:
          title: Template Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        thread_id:
          title: Thread ID
          anyOf:
          - type: string
          - type: 'null'
        to:
          title: To
          type: array
          items:
            type: string
        updated_by:
          title: Updated By
          anyOf:
          - type: string
          - type: 'null'
        updated_by_name:
          title: Updated By Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        user_id:
          title: User ID
          anyOf:
          - type: string
          - type: 'null'
        user_name:
          title: User Name
          default: null
          anyOf:
          - type: string
          - type: 'null'
        users:
          title: Users
          type: array
          items:
            type: string
      required:
      - _type
      - activity_at
      - bcc
      - bulk_email_action_id
      - cc
      - contact_id
      - created_by
      - date_created
      - date_scheduled
      - date_sent
      - date_updated
      - direction
      - followup_sequence_add_cc_bcc
      - followup_sequence_delay
      - has_reply
      - id
      - in_reply_to_id
      - lead_id
      - message_ids
      - need_smtp_credentials
      - opens_summary
      - organization_id
      - references
      - send_as_id
      - sender
      - status
      - subject
      - template_id
      - thread_id
      - to
      - updated_by
      - user_id
      - users
    MessageStatus:
      title: MessageStatus
      description: Status of a message, such as Email or SMS.
      type: string
      enum:
      - inbox
      - draft
      - scheduled
      - outbox
      - sent
      - error
    ImportantEmailThread:
      title: ImportantEmailThread
      type: object
      properties:
        reason:
          $ref: '#/components/schemas/ImportantThreadReason'
        type:
          title: Type
          type: string
          const: important
      required:
      - reason
      - type
    EmailPreview:
      title: EmailPreview
      type: object
      properties:
        bcc:
          title: BCC
          type: array
          items:
            type: string
        body_preview:
          title: Body Preview
          anyOf:
          - type: string
          - type: 'null'
        cc:
          title: CC
          type: array
          items:
            type: string
        date_created:
          title: Date Created
          type: string
          format: date-time
        date_sent:
          title: Date Sent
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
        date_updated:
          title: Date Updated
          type: string
          format: date-time
        direction:
          $ref: '#/components/schemas/CommunicationDirection'
        envelope:
          anyOf:
          - $ref: '#/components/schemas/EmailEnvelope'
          - type: 'null'
        has_attachments:
          title: Has Attachments
          anyOf:
          - type: boolean
          - type: 'null'
        id:
          title: ID
          anyOf:
          - type: string
          - type: 'null'
        opens_summary:
          title: Opens Summary
          anyOf:
          - type: string
          - type: 'null'
        send_as_id:
          title: Send As ID
          anyOf:
          - type: string
          - type: 'null'
        sender:
          title: Sender
          anyOf:
          - type: string
          - type: 'null'
        status:
          $ref: '#/components/schemas/MessageStatus'
        subject:
          title: Subject
          anyOf:
          - type: string
          - type: 'null'
        to:
          title: To
          type: array
          items:
            type: string
        user_id:
          title: User ID
          anyOf:
          - type: string
          - type: 'null'
      required:
      - bcc
      - body_preview
      - cc
      - date_created
      - date_sent
      - date_updated
      - direction
      - envelope
      - has_attachments
      - id
      - opens_summary
      - send_as_id
      - sender
      - status
      - subject
      - to
      - user_id
    EmailThreadSummary:
      title: EmailThreadSummary
      type: object
      properties:
        expired_at:
          title: Expired At
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
        feedback:
          title: Feedback
          $ref: '#/components/schemas/EmailThreadSummaryFeedback'
        generated_at:
          title: Generated At
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
        status:
          $ref: '#/components/schemas/SummaryStatus'
        summary_html:
          title: Summary HTML
          anyOf:
          - type: string
          - type: 'null'
        summary_text:
          title: Summary Text
          anyOf:
          - type: string
          - type: 'null'
        updated_at:
          title: Updated At
          type: string
          format: date-time
      required:
      - expired_at
      - generated_at
      - status
      - summary_html
      - summary_text
      - updated_at
    EmailEnvelope:
      title: EmailEnvelope
      type: object
      properties:
        bcc:
          title: BCC
          type: array
          items:
            $ref: '#/components/schemas/EmailIdentity'
        cc:
          title: CC
          type: array
          items:
            $ref: '#/components/schemas/EmailIdentity'
        date:
          title: Date
          anyOf:
          - type: string
          - type: 'null'
        from:
          title: From
          type: array
          items:
            $ref: '#/components/schemas/EmailIdentity'
        in_reply_to:
          title: In Reply To
          anyOf:
          - type: string
          - type: 'null'
        is_autoreply:
          title: Is Auto-Reply
          type: boolean
        message_id:
          title: Message ID
          anyOf:
          - type: string
          - type: 'null'
        reply_to:
          title: Reply To
          type: array
          items:
            $ref: '#/components/schemas/EmailIdentity'
        sender:
          title: Sender
          type: array
          items:
            $ref: '#/components/schemas/EmailIdentity'
        subject:
          title: Subject
          anyOf:
          - type: string
          - type: 'null'
        to:
          title: To
          type: array
          items:
            $ref: '#/components/schemas/EmailIdentity'
      required:
      - bcc
      - cc
      - date
      - from
      - in_reply_to
      - is_autoreply
      - message_id
      - reply_to
      - sender
      - subject
      - to
    Attachment:
      title: Attachment
      type: object
      properties:
        content_type:
          title: Content Type
          anyOf:
          - type: string
          - type: 'null'
        filename:
          title: Filename
          anyOf:
          - type: string
          - type: 'null'
        size:
          title: Size
          anyOf:
          - type: integer
          - type: 'null'
        thumbnail_url:
          title: Thumbnail URL
          anyOf:
          - type: string
          - type: 'null'
        url:
          title: URL
          type: string
      required:
      - content_type
      - filename
      - size
      - url
  parameters:
    ActivityFilters_DateCreatedGteParam:
      in: query
      name: date_created__gte
      required: false
      schema:
        title: Date Created (>=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_ActivityAtLteParam:
      in: query
      name: activity_at__lte
      required: false
      schema:
        title: Activity At (<=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_TypeParam:
      description: Filter by activity type, e.g. Call (comma-separated)
      in: query
      name: _type
      required: false
      schema:
        title: Type
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_OrganizationIdParam:
      in: query
      name: organization_id
      required: false
      schema:
        title: Organization ID
        default: null
        anyOf:
        - type: string
        - type: 'null'
    ActivityFilters_LeadIdParam:
      description: Filter by lead IDs (comma-separated)
      in: query
      name: lead_id
      required: false
      schema:
        title: Lead ID
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_ActivityAtLtParam:
      in: query
      name: activity_at__lt
      required: false
      schema:
        title: Activity At (<)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_ActivityAtGteParam:
      in: query
      name: activity_at__gte
      required: false
      schema:
        title: Activity At (>=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_UserIdParam:
      description: Filter by user IDs (comma-separated)
      in: query
      name: user_id
      required: false
      schema:
        title: User ID
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    ActivityFilters_ContactIdParam:
      description: Filter by contact IDs (comma-separated)
      in: query
      name: contact_id
      required: false
      schema:
        title: Contact ID
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    LimitParam:
      description: Number of results to return.
      in: query
      name: _limit
      required: false
      schema:
        default: 100
        type: integer
    SkipParam:
      description: Number of results to skip before returning, for pagination.
      in: query
      name: _skip
      required: false
      schema:
        default: 0
        type: integer
    ActivityFilters_IdInParam:
      description: Filter by activity IDs (comma-separated)
      in: query
      name: id__in
      required: false
      schema:
        title: ID In
        default: null
        anyOf:
        - type: array
          items:
            type: string
        - type: 'null'
    FieldsParam:
      description: Comma-separated list of fields to include in the response.
      in: query
      name: _fields
      required: false
      schema:
        type: string
    ActivityFilters_DateCreatedLtParam:
      in: query
      name: date_created__lt
      required: false
      schema:
        title: Date Created (<)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_ActivityAtGtParam:
      in: query
      name: activity_at__gt
      required: false
      schema:
        title: Activity At (>)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_DateCreatedGtParam:
      in: query
      name: date_created__gt
      required: false
      schema:
        title: Date Created (>)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
    ActivityFilters_DateCreatedLteParam:
      in: query
      name: date_created__lte
      required: false
      schema:
        title: Date Created (<=)
        anyOf:
        - type: string
          format: date-time
        - type: string
          format: date
  securitySchemes:
    ApiKeyAuth:
      description: Use your API key as the username and leave the password empty.
      scheme: basic
      type: http
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.close.com/oauth2/authorize/
          scopes:
            all.full_access: Full access to all resources
            offline_access: Request a refresh token
          tokenUrl: https://api.close.com/oauth2/token/
      type: oauth2
