openapi: 3.1.0
info:
  title: API Endpoints subpackage_activities subpackage_sequences API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
tags:
- name: subpackage_sequences
paths:
  /sequence/:
    get:
      operationId: list
      summary: List Sequences
      tags:
      - subpackage_sequences
      parameters:
      - name: _limit
        in: query
        description: Number of results to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: _skip
        in: query
        description: Number of results to skip before returning, for pagination.
        required: false
        schema:
          type: integer
          default: 0
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sequences_list_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
    post:
      operationId: create
      summary: Create a Sequence
      tags:
      - subpackage_sequences
      parameters:
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sequences_create_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              description: Any type
  /sequence/{id}/:
    get:
      operationId: get
      summary: Fetch a Sequence
      tags:
      - subpackage_sequences
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _limit
        in: query
        description: Number of results to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: _skip
        in: query
        description: Number of results to skip before returning, for pagination.
        required: false
        schema:
          type: integer
          default: 0
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sequences_get_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
    put:
      operationId: update
      summary: Update a Sequence
      description: '**Note**: If you include `steps` in the payload and exclude some of the existing steps in your sequence, it will remove those steps from the sequence entirely.'
      tags:
      - subpackage_sequences
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sequences_update_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              description: Any type
    delete:
      operationId: delete
      summary: Delete a Sequence
      tags:
      - subpackage_sequences
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sequences_delete_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
  /sequence_subscription/:
    get:
      operationId: list-subscriptions
      summary: List Sequence Subscriptions
      description: At least one of `sequence_id`, `contact_id`, and `lead_id` is required.
      tags:
      - subpackage_sequences
      parameters:
      - name: _limit
        in: query
        description: Number of results to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: _skip
        in: query
        description: Number of results to skip before returning, for pagination.
        required: false
        schema:
          type: integer
          default: 0
      - name: contact_id
        in: query
        required: false
        schema:
          type: string
      - name: lead_id
        in: query
        required: false
        schema:
          type: string
      - name: sequence_id
        in: query
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sequences_listSubscriptions_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
    post:
      operationId: create-subscription
      summary: Subscribe a Contact to a Sequence
      tags:
      - subpackage_sequences
      parameters:
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sequences_createSubscription_Response_201'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              description: Any type
  /sequence_subscription/{id}/:
    get:
      operationId: get-subscription
      summary: Fetch a single Sequence Subscription
      tags:
      - subpackage_sequences
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sequences_getSubscription_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
    put:
      operationId: update-subscription
      summary: Update a specific Subscription
      tags:
      - subpackage_sequences
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sequences_updateSubscription_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              description: Any type
components:
  schemas:
    sequences_get_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: sequences_get_Response_200
    sequences_create_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: sequences_create_Response_200
    sequences_listSubscriptions_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: sequences_listSubscriptions_Response_200
    sequences_list_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: sequences_list_Response_200
    sequences_updateSubscription_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: sequences_updateSubscription_Response_200
    sequences_createSubscription_Response_201:
      type: object
      properties: {}
      description: Empty response body
      title: sequences_createSubscription_Response_201
    sequences_delete_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: sequences_delete_Response_200
    sequences_update_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: sequences_update_Response_200
    sequences_getSubscription_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: sequences_getSubscription_Response_200
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: basic
      description: Use your API key as the username and leave the password empty.
    OAuth2:
      type: http
      scheme: bearer
