openapi: 3.1.0
info:
  title: API Endpoints subpackage_activities subpackage_activitiesLeadMerges API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
tags:
- name: subpackage_activitiesLeadMerges
paths:
  /activity/lead_merge/:
    get:
      operationId: list
      summary: List or filter all LeadMerge activities
      tags:
      - subpackage_activitiesLeadMerges
      parameters:
      - name: _limit
        in: query
        description: Number of results to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: _skip
        in: query
        description: Number of results to skip before returning, for pagination.
        required: false
        schema:
          type: integer
          default: 0
      - name: id__in
        in: query
        description: Filter by activity IDs (comma-separated)
        required: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
      - name: lead_id
        in: query
        description: Filter by lead IDs (comma-separated)
        required: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
      - name: contact_id
        in: query
        description: Filter by contact IDs (comma-separated)
        required: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
      - name: user_id
        in: query
        description: Filter by user IDs (comma-separated)
        required: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
      - name: organization_id
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
      - name: _type
        in: query
        description: Filter by activity type, e.g. Call (comma-separated)
        required: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
      - name: date_created__gte
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityLeadMergeGetParametersDateCreatedGte'
      - name: date_created__lte
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityLeadMergeGetParametersDateCreatedLte'
      - name: date_created__gt
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityLeadMergeGetParametersDateCreatedGt'
      - name: date_created__lt
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityLeadMergeGetParametersDateCreatedLt'
      - name: activity_at__gte
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityLeadMergeGetParametersActivityAtGte'
      - name: activity_at__lte
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityLeadMergeGetParametersActivityAtLte'
      - name: activity_at__gt
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityLeadMergeGetParametersActivityAtGt'
      - name: activity_at__lt
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ActivityLeadMergeGetParametersActivityAtLt'
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activities.lead_merges_list_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
  /activity/lead_merge/{id}/:
    get:
      operationId: get
      summary: Get a single LeadMerge activity
      tags:
      - subpackage_activitiesLeadMerges
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activities.lead_merges_get_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
components:
  schemas:
    ActivityLeadMergeGetParametersDateCreatedLte:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityLeadMergeGetParametersDateCreatedLte
    activities.lead_merges_list_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: activities.lead_merges_list_Response_200
    activities.lead_merges_get_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: activities.lead_merges_get_Response_200
    ActivityLeadMergeGetParametersDateCreatedLt:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityLeadMergeGetParametersDateCreatedLt
    ActivityLeadMergeGetParametersActivityAtLte:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityLeadMergeGetParametersActivityAtLte
    ActivityLeadMergeGetParametersDateCreatedGt:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityLeadMergeGetParametersDateCreatedGt
    ActivityLeadMergeGetParametersActivityAtGt:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityLeadMergeGetParametersActivityAtGt
    ActivityLeadMergeGetParametersDateCreatedGte:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityLeadMergeGetParametersDateCreatedGte
    ActivityLeadMergeGetParametersActivityAtLt:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityLeadMergeGetParametersActivityAtLt
    ActivityLeadMergeGetParametersActivityAtGte:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
      title: ActivityLeadMergeGetParametersActivityAtGte
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: basic
      description: Use your API key as the username and leave the password empty.
    OAuth2:
      type: http
      scheme: bearer
