openapi: 3.1.0
info:
  title: API Endpoints subpackage_activities subpackage_users API
  version: 1.0.0
servers:
- url: https://api.close.com/api/v1
tags:
- name: subpackage_users
paths:
  /me/:
    get:
      operationId: get-me
      summary: Fetch information about yourself
      description: A special instance of the Users endpoint for the current user. Useful for determining your own `id` and `organization_id`.
      tags:
      - subpackage_users
      parameters:
      - name: _fields
        in: query
        description: Comma-separated list of fields to include in the response.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_getMe_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
  /user/:
    get:
      operationId: list
      summary: List users in your organization
      description: List all the users who are members of the same organizations as you are.
      tags:
      - subpackage_users
      parameters:
      - name: _order_by
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/UserGetParametersOrderBy'
      - name: _limit
        in: query
        description: Number of results to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: _skip
        in: query
        description: Number of results to skip before returning, for pagination.
        required: false
        schema:
          type: integer
          default: 0
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_list_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
  /user/availability/:
    get:
      operationId: list-availabilities
      summary: List user availability statuses
      description: 'List user availability statuses for all users in an organization.


        The `active_calls` field is an array of call metadata for calls that the user is currently participating in.'
      tags:
      - subpackage_users
      parameters:
      - name: organization_id
        in: query
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_listAvailabilities_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
  /user/{id}/:
    get:
      operationId: get
      summary: Fetch a single user
      tags:
      - subpackage_users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _order_by
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/UserIdGetParametersOrderBy'
      - name: _limit
        in: query
        description: Number of results to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: _skip
        in: query
        description: Number of results to skip before returning, for pagination.
        required: false
        schema:
          type: integer
          default: 0
      - name: Authorization
        in: header
        description: Use your API key as the username and leave the password empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users_get_Response_200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Any type
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Any type
components:
  schemas:
    users_get_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: users_get_Response_200
    users_list_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: users_list_Response_200
    UserIdGetParametersOrderBy:
      type: string
      enum:
      - last_name,first_name
      - first_name,last_name
      title: UserIdGetParametersOrderBy
    users_getMe_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: users_getMe_Response_200
    users_listAvailabilities_Response_200:
      type: object
      properties: {}
      description: Empty response body
      title: users_listAvailabilities_Response_200
    UserGetParametersOrderBy:
      type: string
      enum:
      - last_name,first_name
      - first_name,last_name
      title: UserGetParametersOrderBy
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: basic
      description: Use your API key as the username and leave the password empty.
    OAuth2:
      type: http
      scheme: bearer
